//screen view

.header
  .navbar
    padding: .8em 0
    .form-inline
      display: flex
      flex-flow: row nowrap
      a
        display: inline
        margin-top: 0
      button
        margin: 8px 0 8px 30px

.main_banner
  .main_div-left
    padding-right: 70px
    transition: all 1s
  .main_div-right
    position: absolute
    top: 4000px
    left: 0

.product
  padding: 100px 0
  .container
    .row
      .main_div-left
        padding: 0
        .card
          max-width: 472px
          margin-bottom: 2%
        .card.first
          left: 10px
          display: -ms-flexbox
          display: -webkit-flex
          display: flex
        .btn-circle-red
          margin-left: 10px
      .main_div-right
        padding-left: 100px
        padding-right: 0
        .product_li:after
          margin-left: 0

#product_list_upper
  display: none
#product_list_lower
  display: block


.testimonial
  padding: 100px 0
  .main_div-left
    //float: left
    //padding-left: 5px
    //margin-top: 60px
  .main_div-right
    display: block
    float: right


.platform_user
  padding: 100px 0
  .carousel
    .container
      padding: 0
      .card-deck .card:not(:last-child)
        margin-right: 60px
  .card.slick-slide
    margin-right: 25px
    margin-left: 25px

.investing
  padding: 90px 0
  .investing_title
    padding-bottom: 90px
  p
    font-weight: 300
    margin-right: 40px
    font-size: 1rem

.partners
  .container
    padding-top: 80px
    padding-bottom: 120px
    margin: 0 auto
    .main_div-right
      .container
        .blocks
          display: flex
          flex-flow: row nowrap
          .block__body
            width: 100%

.impact
  padding: 80px 0
  .container
    .impact_card
      margin: 50px 0
      .card
        margin-right: 40px

.metrics
  padding: 60px 0
  .background_wrapper
    padding: 250px 0
    .impact_card
      padding: 0
      margin: 0 auto
      display: flex
      align-items: center
      .card
        margin-right: 40px
        width: 300px
        padding: 20px 0
        .card-block
          h1.counter
            font-size: 3em
          p.card-text
            font-size: .9em


.testimonial
  .main_div-right
    padding: 6% 8% 0 8%

.news
  padding: 80px 0
  .card_carousel.slick-slider
    margin: 60px 0
  .news_logo
    padding-right: 35px
    padding-left: 35px
    .col:first-child
      padding-left: 0
  .carousel.slide
    .carousel-inner
      .news_title
        padding: 0 50px
  .card
    margin-left: 15px
    margin-right: 15px

.search
  padding: 45px
  .container
    .main_div-right
      button
        width: 133px

.footer
  .footer_row-link
    display: flex
    a
      margin-right: 40px
