*:focus
  outline: 0

.header
  position: absolute
  width: 100vw
  background: rgba(255,255,255,.8)
  height: 60px

.main_banner
  background: linear-gradient(rgba(41, 128, 184, 0.25), rgba(41, 128, 184, 0.25)), url(../img/main-bg.png) no-repeat
  background-size: cover
  max-width: 100vw
  padding: 200px 0 0 0
  font-family: "Raleway", sans-serif
  div
    display: inline-block
    width: 100%
    color: white
    margin-top: 50px

    .main_div-l
      position: relative
      background-color: #2980b9
      top: -240px
      left: 300px
      height: 400px
      width: 333px
      padding: 0
      span
        font-size: 14px
        margin-left: 40px
        margin-right: 40px
      p
        font-size: 36px
        color: white
        margin-bottom: 40px
        margin-top: 10px
        margin-left: 40px
        margin-right: 40px
        font-weight: 100
      a
        color: white
        text-decoration: none
        margin-left: 40px
        margin-right: 40px
        font-weight: 200
    .square
      margin-top: 40px
      display: block
      width: 0
      height: 0
      border-style: solid
      border-width: 110px 333px 0 0
      border-color: #2980b9 transparent transparent transparent

    .main_div-r
      color: #fff
      text-align: right
      h1
        font-weight: 200
        font-size: 35px
        line-height: 36px
        text-transform: uppercase
      p
        font-weight: 300
        font-size: 16px
        padding: 20px 0
        color: white

  .go_down
    margin: 0 auto
    width: 50px
    height: 50px
    display: block
    position: relative
    transform: translateY(50%)
    transition: top .5s ease







.top4
  padding-top: 40px
  padding-bottom: 40px
  font-weight: 300
  overflow-x: hidden
  .top4_title
    padding-bottom: 40px
    h1
      font-weight: 200
      font-size: 32px
  .top4_card
    margin: 0 auto
    .card-block
      border: 0
      box-shadow: none
      color: black
      margin: 0
      padding: 0
      .img_box
        width: 80px
        height: 80px
        margin: 0 auto
        display: flex
        justify-content: center
      img:hover
        -moz-transition: all 1s ease
        -webkit-transition: all 1s ease
        -o-transition: all 1s ease
        transition: all 1s ease
        transform: scale(1.1)
      img.top-business
        width: 65px
        height: 80px
        //margin: 10px auto
      img.top-tech
        width: 80px
        height: 80px
        //margin: 20px auto
      img.top-track
        width: 80px
        height: 80px
        //margin: 20px auto
      img.top-best
        width: 80px
        height: 80px
      h5
        padding: 20px 0
        font-weight: 200
        font-size: 21px

$swipe-tab-color: #757575
$swipe-active-tab-color: #000

.bespoke
  background-color: #e9f2f8
  //padding: 40px 0
  overflow-x: hidden

  .main_div-l
    padding: 0 15px
    .card
      border-radius: 10px
      margin-right: 0
      margin-left: 0
      -webkit-box-shadow: 5px 5px 16px 2px rgba(41, 128, 184, 0.2)
      -moz-box-shadow: 5px 5px 16px 2px rgba(41, 128, 184, 0.2)
      box-shadow: 5px 5px 16px 2px rgba(41, 128, 184, 0.2)
      .card-block
        font-weight: 300
        text-align: center
        padding: 0
        display: block
        font-size: 5rem
        line-height: 1.5rem
        margin-bottom: 1.2rem
        p.bespoke_title
          background-color: #2980b9
          color: white
          padding: 20px 0
          font-weight: 200
          border-top-left-radius: 10px
          border-top-right-radius: 10px
        .price
          margin-top: 40px
          .pound
            font-size: 40px
            vertical-align: top
          .bill
            font-size: 12px
            color: black
            margin-top: 30px
            font-weight: 400
        .card-title
          font-weight: 300
        .product_card_ul
          list-style: none
          font-size: 15px
          //margin-bottom: 2rem
          line-height: 40px
          color: black
          padding: 15px 55px
          li.product_li
            border-bottom: 1px solid rgba(41, 128, 184, 0.25)
            #bespoke_badge
              background-color: #ff3333
              font-weight: 400
              padding-top: 5px
              padding-bottom: 5px
        #findout
          margin-bottom: 25px !important
    .card_blue_ribbon
      background-color: #e9f2f8
      color: #2980b9
      border-bottom: 1px solid #2980b9
      border-top: 1px solid #2980b9
      font-size: 1em
      font-weight: 400
      padding: 10px 78px
      line-height: 30px
    .launch_per_month
      padding: 30px

  .main_div-r
    padding: 0 15px
    font-weight: 300
    h4
      font-size: 18px
      font-weight: 400
    h2
      font-weight: 300
      width: 500px
      font-size: 30px
      padding: 30px 0
    div
      //padding-top: 20px
      //padding-bottom: 20px
      font-weight: 300 !important
      font-size: 15px
      color: black
      line-height: 25px
    .product_ul
      list-style: none
      padding-left: 0
      .product_li
        font-size: .9rem
        line-height: 3.5rem
        border-bottom: 1px solid lightgrey
      .product_li:first-child
        border-top: 1px solid lightgrey
    .footer
      padding-left: 0
      background-color: transparent
      color: #2980b9
  .first
    .row
      .tab_first-content
        position: absolute
        display: block
        top: 75px
        height: 460px
        width: 700px
        z-index: 999
        right: 250px
        .header
          float: right
          display: block
          color: black
          font-weight: 600
          background: transparent
        .tab_first-text
          display: inline-block
          position: absolute
          top: 50px
          text-align: right
          font-size: 26px
          font-weight: 300
        .tab_first-num
          float: right
          position: absolute
          top: 200px
          right: 0
          .digit
            font-size: 336px
            line-height: 100px
            font-weight: 800
          .percent
            font-size: 35px
            float: right
            position: absolute
            vertical-align: top
            top: -33px
            right: 0
            font-weight: 300
            margin-left: 20px
    #product_list_lower
      padding-left: 30px
      padding-right: 400px
      height: 587px
  .second
    #product_list_lower
      height: 572px
  .footer
    padding-top: 60px



  .sub-header
    .swipe-tabs
      width: 100vw
      .slick-list
        width: 100vw
        max-width: 100vw
        margin: 0 auto
      .slick-list.draggable
        max-width: 100vw
      .swipe-tab
        width: 33.33% !important





  //tab
  .slick-track
    margin-bottom: 80px
  .slick-initialized
    .swipe-tab-content
      position: relative
      min-height: 365px

      @media screen and (min-width: 767px)
        min-height: 500px

    .swipe-tab
      display: flex
      align-items: center
      justify-content: center
      height: 50px
      background: rgba(41, 128, 184, .5)
      border: 0
      color: white
      cursor: pointer
      text-align: center
      border-bottom: 2px solid rgba($swipe-active-tab-color, 0)
      transition: all 0.5s
      font-size: 18px
      font-weight: 300
      &:hover
      &.active-tab
        background-color: rgba(41, 128, 184, 1)
        color: white
        //font-weight: bold
      &.active-tab.swipe-tab:after
        //background-color: rgba(41, 128, 184, 1)
        border-left: 10px solid transparent
        border-right: 10px solid transparent
        border-top: 10px solid rgba(41, 128, 184, 1)





















.magento
  background-color: #f6f7f9
  padding: 40px 0
  overflow-x: hidden
  h1
    font-weight: 200
  .magento_p
    padding: 0 150px
    font-weight: 200
    font-size: 18px
    margin-top: 20px
    margin-bottom: 70px
  .magento_logo
    list-style: none
    padding-right: 0
    padding-left: 0
    margin-bottom: 0
    .col
      display: flex
      justify-content: center
      margin-bottom: 25px
      img
        width: 170px
      .img_m2
        width: 110px
        height: 120px
      .img_m3
        width: 60px
        height: 120px




.testimonial
  padding: 40px 0 0 0
  overflow-x: hidden
  color: #2980b9
  background: #e9f2f8 no-repeat
  .feature_carousel
    margin: 0 100px
    .row.align-items-center
      padding: 0px 100px
  .main_div-r
    font-weight: 300 !important
    margin-top: 50px
    .name
      color: black
      font-size: 18px
    .title
      padding: 30px 0
      margin-bottom: 0
      font-weight: 300
      font-size: 28px
    .body
      font-weight: 300
      margin-bottom: 30px
      font-size: 15px
      color: black
      line-height: 25px
    .footer.try
      padding: 1.5rem 0
      font-size: 14px
      font-weight: 300
      color: #2980b9
      text-decoration: none
      background-color: transparent
    span.testimonial_seperator
      color: black
      margin: 0 15px
    .play
      width: 30px
      height: 30px
      display: inline-block
      margin-left: 5px
      position: relative
      transform: translateY(35%)
      top: 50%

  .main_div-l
    display: none
    img
      max-width: 480px





.latest
  background: #2980b9
  .slick-list.draggable
    max-width: 100vw
    left: 15px
  .title
    color: #fff
    margin: 65px auto
    div
      font-weight: 200
      margin-top: 20px
      font-size: 18px
      padding-left: 200px
      padding-right: 200px
  .main_div-right
    .container
      width: 100vw
      padding: 0
      .blocks
        .block__body
          top: 100%
          width: inherit
          height: 400px
          margin: 0
        .block
          position: relative
          background: #f9f9f9
          height: 400px
          padding-left: 0
          overflow: hidden
          &:hover
            .block__body
              position: absolute
              top: 0
              background: linear-gradient(rgba(41, 128, 184, 0.8), rgba(41, 128, 184, 0.8)) no-repeat
              color: #fff
              height: 100%
              transition: top .5s
              padding: 0
              h3
                color: #fff
        .block
          img
            max-width: 700px
            margin: 0 auto
          p
            margin: 3em
            font-size: 1rem
        .block__body
          a
            text-decoration: none
            color: white
            img
              max-width: 200px
              padding: 10em 1em 1em 1em
              opacity: 1





  .slick-dotted.slick-slider
    padding: 0
    margin-bottom: 80px

.service
  padding-top: 60px
  padding-bottom: 60px
  .title
    h2
      font-size: 36px
      font-weight: 200
    div
      color: black
      padding: 25px 150px
      font-size: 18px
      font-weight: 200

  .service_title
    font-size: 24px
    font-weight: 300

.news
  background-color: #e9f2f8
  padding: 40px 0
  h1
    font-weight: 200
  .card_carousel
    h4
      margin-bottom: 0.75rem
      color: #2980b9
      font-size: 24px
      font-weight: 200
    p
      font-size: 15px
      font-weight: 300
    .read_more
      margin-bottom: 20px
      margin-top: 50px
      text-transform: uppercase
      text-decoration: none
      padding-top: 5px
      font-weight: 300
    .read_more:hover
      color: #2980b9
    .card-block
      padding: 1.5rem 2.5rem


#arrow-blue
  content: ">"
  background-color: #2980b9
  text-align: center
  color: white
  padding-left: 0
  margin-left: 10px
  padding-bottom: 10px
  font-size: 10px
  width: 15px
  height: 15px
  line-height: 14px
  display: inline-block
  font-weight: 200
  border-radius: 50%
  position: relative
  transform: translateY(-15%)
  top: 50%


.contact
  background-color: #2980b9
  padding: 40px 0
  overflow-x: hidden
  color: white
  .top4_title
    margin-bottom: 40px
    h1
      font-size: 24px
  .footer_row-link
    span
      font-size: 18px
      font-weight: 200
    a
      margin-top: 15px
      margin-bottom: 15px
    .meeting, .call
      margin-right: 40px
    .meeting
      a
        width: 130px
    .call
      div
        font-size: 29px
        font-weight: 100
#seperator
  display: block
  background: url(../img/seperator.png) no-repeat 0 center
  height: inherit
  line-height: 48px
  width: 3px
  padding-right: 30px

.footer
  font-size: .8rem
  padding: 30px
  overflow-x: hidden
  background-color: #333333
  .footer_row-logo
    margin-bottom: 40px
    padding-bottom: 5px
    display: inline-block
    width: 100%
    border-bottom: .5px solid gray
    .float-left
      img
        width: 193px
    .float-right
      .social
        margin-left: 10px
        img
          width: 35px
          height: 35px

  .footer_row-link
    display: block
    color: #2980b9
    .footer_section
      margin-right: 100px
    span
      font-size: 25px
      font-weight: 200
    a
      margin-bottom: 9px
      display: block
      padding: 0
      color: white
      text-decoration: none
      font-size: .8rem
    ul
      padding: 0
      margin-top: 20px
    li
      list-style: none
      font-weight: 200
      font-size: 15px
    .fourth_col
      color: white
      font-size: 25px
      font-weight: 100
      li.copyright
        margin-top: 20px
        color: #2980b9
        font-size: 12px

  .footer_row-copyright
    margin-top: 30px
    span
      a
        text-decoration: none
        color: #434242

  .footer_row-social
    margin-top: 50px
    a
      display: inline-block
      height: fit-content
    img
      margin-right: 50px
    img#rock
      height: 40px
    img#ad
      height: 30px
    img#sage
      height: 24px
    img#amazone
      width: 100px
      height: 30px
    img#paypal
      height: 29px
    img#ogone
      height: 25px







// START: timeline

//#conference-timeline
//  position: relative
//  max-width: 920px
//  width: 100%
//  margin: 0 auto

#conference-timeline .timeline-start,
#conference-timeline .timeline-end
  display: table
  font-family: "Roboto", sans-serif
  font-size: 18px
  font-weight: 900
  text-transform: uppercase
  background: #00b0bd
  padding: 15px 23px
  color: #fff
  max-width: 5%
  width: 100%
  text-align: center
  margin: 0 auto

#conference-timeline .conference-center-line
  position: absolute
  height: 71%
  top: 264px
  left: 50.5%
  margin-left: -2px
  border: .5px dotted gray
  z-index: -1

.timeline-article
  width: 100%
  height: 100%
  position: relative
  overflow: hidden
  margin: 20px 0

.timeline-article .content-left-container,
.timeline-article .content-right-container
  max-width: 44%
  width: 100%

.timeline-article .timeline-author
  display: block
  font-weight: 400
  font-size: 14px
  line-height: 24px
  color: #434242
  text-align: right

.timeline-article .content-left,
.timeline-article .content-right
  position: relative
  width: auto
  //border: 1px solid #ddd
  background-color: #fff
  //box-shadow: 0 1px 3px rgba(0,0,0,.03)
  padding: 27px 60px

.timeline-article .content-left
  text-align: -webkit-right
  text-align: right

.timeline-article .content-right
  text-align: -webkit-left
  text-align: left



.timeline-article p
  //margin: 0 0 0 60px
  padding: 0
  font-weight: 400
  color: #434242
  font-size: 15px
  line-height: 24px
  position: relative
  margin-top: 20px
  margin-bottom: 20px

.timeline-article p span.article-number
  position: absolute
  font-weight: 300
  font-size: 44px
  top: 10px
  left: -60px
  color: #00b0bd

.timeline-article .content-left-container
  float: left

.timeline-article .content-right-container
  float: right

.timeline-article .content-left:before,
.timeline-article .content-right:before
  position: absolute
  top: 20px
  font-size: 23px
  font-family: "Open Sans"
  color: #fff

.timeline-article .content-left:before
  content: "\f0da"
  right: -8px

.timeline-article .content-right:before
  content: "\f0d9"
  left: -8px

.timeline-article .meta-date
  position: absolute
  top: 190px
  left: 51%
  width: 50px
  height: 50px
  margin-left: -31px
  border-radius: 100%

.meta-date.img1
  top: 32px
  background: url(../img/service-brain.png) no-repeat 0 center
  background-size: 50px

.meta-date.img2
  top: 247px
  background: url(../img/service-pen.png) no-repeat 0 center
  background-size: 50px

.meta-date.img3
  top: 150px
  background: url(../img/service-link.png) no-repeat 0 center
  background-size: 50px

.meta-date.img4
  top: 30px
  background: url(../img/service-rocket.png) no-repeat 0 center
  background-size: 50px


.meta-date.img5
  top: 240px
  background: url(../img/service-screen.png) no-repeat 0 center
  background-size: 50px

.timeline-article .meta-date .date,
.timeline-article .meta-date .month
  display: block
  text-align: center
  font-weight: 900

.timeline-article .meta-date .date
  font-size: 30px
  line-height: 40px

.timeline-article .meta-date .month
  font-size: 18px
  line-height: 10px



//  custom
.service-bottom
  text-decoration: none !important
  font-size: 14px

.service-bottom:hover
  color: #2980b9



/*===== // Vetical Timeline =====*/

/*===== MOBILE Resonsive Vertical Timeline =====*/
//@media only screen and (max-width: 830px) {
//#conference-timeline .timeline-start,
//#conference-timeline .timeline-end {
//  margin: 0;
//}
//#conference-timeline .conference-center-line {
//  margin-left: 0;
//  left: 50px;
//}
//.timeline-article .meta-date {
//  margin-left: 0;
//  left: 20px;
//}
//.timeline-article .content-left-container,
//.timeline-article .content-right-container {
//  max-width: 100%;
//  width: auto;
//  float: none;
//  margin-left: 110px;
//  min-height: 53px;
//}
//.timeline-article .content-left-container {
//  margin-bottom: 20px;
//}
//.timeline-article .content-left,
//.timeline-article .content-right {
//  padding: 10px 25px;
//  min-height: 65px;
//}
//.timeline-article .content-left:before {
//  content: "\f0d9";
//  right: auto;
//  left: -8px;
//}
//.timeline-article .content-right:before {
//  display: none;
//}
//}

//@media only screen and (max-width: 400px) {
//.timeline-article p {
//  margin: 0;
//}
//.timeline-article p span.article-number {
//  display: none;
//}
//}

// END: timeline






/* START: NAV */

// MOBILE responsive upside down
//.menu
//  display: none
//
//.xs-menu li a
//  padding: 0px
//
//.xs-menu-cont
//  display: block



.header
  .btn.btn-circle-white
    padding: 9px
    margin: 0
    color: #2980b9
    width: 180px
    border: 0
    margin-top: 70px
    border-bottom: 1px solid #2980b8
  .mega_left
    .mm-3column.fourth
      background-color: #2980b8 !important
      height: 425px
      width: 290px
      float: right
      .categories-list
        ul
          padding: 0 40px
          font-weight: 100
          span
            color: white
            text-transform: lowercase
            font-weight: 100
            line-height: 40px
            display: block
  .mega_left
    .mm-3column
      li
        transition: padding .5s ease

  .mega_left
    .mm-3column
      ul
        margin-top: 50px
      .ul_first
        margin-left: 50px
      a:hover
        padding-left: 10px
        border-bottom: 0
        color: #434242
        .li_arrow
          background: url(../img/mega-arrow_left.png) no-repeat 0 center
          display: inline-block
          width: 7px
          background-size: 7px 9px
          height: 9px
          margin-right: 5px

  #cuppa
    height: fit-content
    width: 58px
    margin-top: 13px
    line-height: 18px
  #cuppa_li
    a
      border: 0


.container:after,
.container:before
  content: ""
  clear: both

nav.menu
  background: transparent
  position: relative
  min-height: 45px
  height: 60px

.menu ul
  //text-align: center

.menu ul .bm_logo_li
  float: left

.menu > ul > li
  list-style: none
  display: inline-block
  color: #fff
  line-height: 53px
  font-size: 14px
.menu ul .drop-down
  line-height: 57px



.menu ul li img
  width: 60px
  height: 80px
  float: left
.menu ul li #header_cup
  width: 40px
  height: 30px
  margin: 15px

.menu #cuppa_li
  background-color: #2980b8
  float: right
  width: 161px
  height: 60px

.menu #cuppa_li a
  color: white
  line-height: 22px
  display: flex

.menu > ul li a,
.xs-menu li a
  text-decoration: none
  color: #434242
  display: block
  margin-right: 35px
  font-weight: 300
  //height: 65px

.menu > ul li a:hover
  border-bottom: 5px solid #2980b8
  color: #2980b8
  z-index: 1000
  transition-duration: 0.3s
  -moz-transition-duration: 0.3s
  -webkit-transition-duration: 0.3s
.mega-menu > ul li a:hover
  border-bottom: 0




//.active
//  background: #444 !important
.mega-menu
  z-index: 999
  width: 70%
  height: 425px
  left: 200px
  text-align: left

.displaynone
  display: none

.xs-menu-cont
  display: none

.xs-menu-cont > a
  background: none repeat scroll 0 0 #2980b8
  border-radius: 3px
  padding: 3px 6px
  display: block
  border-bottom: 1px solid #E67248
  box-shadow: 0 1px 2px #e67248
  -webkit-box-shadow: 0 1px 2px #e67248
  -moz-box-shadow: 0 1px 2px #e67248

.xs-menu-cont > a:hover
  cursor: pointer

.xs-menu li
  color: #fff
  padding: 14px 30px
  border-bottom: 1px solid #ccc
  background: #2980b8

.xs-menu a
  text-decoration: none

.mega-menu
  background: none repeat scroll 0 0 white
  //left: 0
  margin-top: -4px
  position: absolute
  //width: 100%
  //padding: 50px
  display: none
  transition-duration: 0.9s
  z-index: 999
  width: 67%
  left: 300px

  .categories-list
    span
      color: #434242
      font-size: 29px
      font-weight: 300

#menutoggle i
  color: #fff
  font-size: 33px
  margin: 0
  padding: 0

.header_arrow
  background: url(../img/header-down_arrow.png) no-repeat 0 center
  display: inline-block
  width: 15px
  margin-left: 2px
  background-size: 12px 8px
  height: 10px
  transition: background .5s ease

.header_arrow.display-on
  background: url(../img/header-up_arrow.png) no-repeat 0 center
  display: inline-block
  width: 15px
  margin-left: 2px
  background-size: 12px 8px
  height: 10px
  transition: background .5s ease




/* END: NAV */