.header
  position: fixed
  display: block
  background: white
  width: 100%
  z-index: 1000
  .container
    padding: 0
    font-size: .8rem
    text-transform: uppercase
    ul.navbar-nav
      margin: 0 auto
      a.nav-link
        width: fit-content
        padding: 0
        margin-right: 3.5em
        margin-top: 1em
        color: #333333
        height: 20px
      a.nav-link:hover
        border-bottom: solid rgb(177, 31, 55) 2px
        color: #333333

  .right_button
    button
      font-family: 'Open Sans', sans-serif
      font-size: .8rem
      font-weight: 700
      margin-left: 30px
    a
      color: #333333
      text-decoration: none
    a:hover
      border-bottom: solid rgb(177, 31, 55) 2px
      color: #333333
  .navbar
    padding: .8em 15px
    .navbar-brand
      svg
        width: 50%
        height: 50%

.header
  .navbar
    .form-inline
      display: block
      a
        display: block
        margin-top: 1em
        width: fit-content
        height: 20px
      button
        display: block
        margin: 0 auto




.main_banner
  background: linear-gradient(rgba(41, 128, 184, 0.25), rgba(41, 128, 184, 0.25)),  url(../img/main-bg.png) no-repeat
  background-size: cover
  max-width: 100vw
  padding: 200px 0 100px 0
  .main_div-left
    color: #fff
    h2
      font-weight: 700
      font-size: 2.2rem
      line-height: 3rem
    p
      font-weight: 300
      font-size: 1.1rem
      padding: 40px 0
  .main_div-right
    position: relative
    background-color: green
    top: -60px
    right: 0
    img
      max-width: 100%
      height: auto
      display: none

.mask
  background-color: #2980b9
  opacity: .5




.product
  background-color: #f6f7f9
  padding: 40px 0
  overflow-x: hidden
  .main_div-left
    padding: 0 15px
    .card
      border-radius: 10px
      margin-right: 0
      margin-left: 0
      color: black
      .card-block
        font-weight: 300
        margin: 0 auto
        display: block
        width: fit-content
        font-size: 1.1rem
        line-height: 1.5rem
        margin-bottom: 1.2rem
        .card-img
          margin: 20px 0
        .card-title
          font-weight: 300
        .product_card_ul
          list-style: none
          padding: 0
          font-size: .8rem
          margin-bottom: 2rem
          line-height: 28px
    .card_blue_ribbon
      background-color: rgb(51, 153, 255)
      color: white
      font-size: 4em
      font-weight: 700
      padding: 48px
      line-height: 30px
      span.permonth
        font-weight: 300
        font-size: 3rem
      span.bill
        font-weight: 300
        font-size: .8rem
        display: block
        margin-top: 25px
    .launch_per_month
      padding: 30px

  .main_div-right
    padding: 0 15px
    font-weight: 300
    h2
      font-weight: 700
      width: 400px
    div
      padding-top: 20px
      padding-bottom: 20px
      font-weight: 300 !important
      font-size: 1rem
    .product_ul
      list-style: none
      padding-left: 0
      .product_li
        font-size: .9rem
        line-height: 3.5rem
        border-bottom: 1px solid lightgrey
      .product_li:first-child
        border-top: 1px solid lightgrey
    .footer
      padding: 0
      a
        color: rgb(41, 43, 44)

.product
  .container
    .row
      .main_div-right
        h1
          margin-bottom: 0

#product_list_upper
  display: block
  margin-bottom: 40px
#product_list_lower
  display: none

.card.first
  left: 0
  height: 39rem
  top: 14px
  img
    margin: 20px auto

.card.second
  z-index: 999
  height: 650px
  img
    margin: 20px auto
  .card_blue_ribbon
    padding-bottom: 14px
    padding-top: 35px


.platform_user
  background-color: #f6f7f9
  padding-top: 40px
  padding-bottom: 40px
  overflow-x: hidden
  .container
    .title
      font-weight: 700
      font-size: 2.3rem
    .subtitle
      margin-bottom: 40px
  .card
    a
      text-decoration: none
    p.card-text
      background-color: rgb(51, 153, 255)
      color: white
      padding: .7rem 0
      font-weight: 400
      margin-bottom: 0
    .card-block
      width: 300px
      margin: 0 auto
      height: 100px
      display: flex
      align-items: center
      padding: 1.40rem
  .card.slick-slide
    overflow: hidden
    margin-left: 5px
    margin-right: 5px
    img
      width: 70%
      height: auto
      margin: 0 auto
      overflow: hidden

.investing
  padding-top: 40px
  padding-bottom: 40px
  font-weight: 300
  overflow-x: hidden
  .investing_title
    padding-bottom: 40px
    p
      font-size: 1.2rem
      margin-bottom: 0
      margin-left: 0
  .investing_card
    margin: 0 auto
    .card-block
      border: 0
      box-shadow: none
      color: black
      margin: 0
      padding: 0
      img
        width: 90px
        height: 90px
      img:hover
        -moz-transition: all 1s ease
        -webkit-transition: all 1s ease
        -o-transition: all 1s ease
        transition: all 1s ease
        transform: rotate(360deg)
      h5
        padding: 20px 0
        font-weight: 600
      .learn_more
        color: rgb(177, 31, 55)
    .card-block > div
      width: 64px
      height: 64px

.partners
  overflow-x: hidden
  background: #2980b9 url(../img/bg/logo_background_red.png) no-repeat 700px 700px
  .title
    color: #fff
    padding: 0 15px
    margin: 0
    h2
      padding: 20px 0
      font-weight: 600
    div
      font-weight: 300
      margin-bottom: 1.5rem
      font-size: 1rem
  .main_div-right
    .container
      padding: 0
      .blocks
        //display: block
        .block__body
          top: 100%
          width: inherit
          height: 333px
          margin: 0
        .block
          //margin-bottom: 10px
          position: relative
          background: #f9f9f9
          height: 333px
          padding-left: 0
          overflow: hidden
          &:hover
            .block__body
              position: absolute
              top: 0
              background: #3399ff
              color: #fff
              height: 100%
              transition: top .5s
              padding: 0
              h3
                color: #fff
        .block
          img
            max-width: 600px
          p
            margin: 3em
            font-size: 1rem
        .block__body
          a
            text-decoration: none
            color: white
            img
              padding: 5em 1em 1em 1em

.partners
  .container
    margin-top: 40px
    margin-bottom: 40px
    .slick-dotted.slick-slider
      padding: 0
      margin-bottom: 80px


.impact
  padding: 40px 0
  overflow-x: hidden
  .container
    .impact_title
      margin-bottom: 40px
      h1
        font-weight: 700
    .impact_card
      margin: 40px 0 50px 0
      .card
        padding: 0
        margin: 10px
        overflow: hidden
        p
          font-weight: 300
          color: black
          font-size: .9em
          letter-spacing: 3px
    .impact_footer
      margin-top: 40px
      a
        text-decoration: none
        button
          letter-spacing: 1px
          width: 200px
          font-weight: 400
      p
        margin-top: 1rem
        font-size: .9rem
        .register_now
          color: rgb(177, 31, 55)
          font-weight: 700
    .impact_card
      .card-img-top
        width: 100%
        height: auto
        overflow: hidden

.metrics
  background-color: rgb(51, 153, 255)
  padding: 40px 0 40px 0
  color: #fff
  font-weight: 300
  overflow-x: hidden
  .impact_title
    margin-bottom: 40px
    h1
      font-weight: 600
  .background_wrapper
    background: url(../img/bg/metrics_map.png) no-repeat
    background-position: center center
    .impact_card
      margin: 0 auto
      //min-height: 100%  /* Fallback for browsers do NOT support vh unit */
      //min-height: 50vh /* These two lines are counted as one      */
      .card
        color: rgb(51, 153, 255)
        border-radius: 0
        width: inherit
        margin: 10px auto
        padding: 20px

      .card-block
        margin: auto
        padding: 0
        h1.counter
          font-size: 2em
        p.card-text
          font-weight: 400
          font-size: .8em
          letter-spacing: 2px
        #price_count:before
          content: '£ '
        #price_count:after
          content: 'M'
  .impact_footer
    p
      letter-spacing: 3px
      font-size: 1em
      font-weight: 300
      margin-bottom: 0
      margin-top: 40px

.testimonial
  padding: 40px 0
  overflow-x: hidden
  color: #2980b9
  background: #e9f2f8 no-repeat
  .main_div-left
    font-weight: 300 !important
    margin-top: 150px
    .title
      padding: 30px 0
      margin-bottom: 0
      font-weight: 600
    .body
      font-weight: 400
      margin-bottom: 30px
      font-size: 1rem
    .footer.try
      padding: 1.5rem 0
      font-size: 1rem
      font-weight: 400 !important
      color: #2980b9
      text-decoration: none
      background-color: transparent
  .main_div-right
    display: none
    img
      max-width: 450px

.news
  background-color: #f6f7f9
  padding: 40px 0
  overflow-x: hidden
  .news_title
    h4
      font-weight: 600
      margin-bottom: 1rem
  .card
    margin: 5px
    .card-block
      font-size: .9rem
      padding: 1.5rem 1.5rem 2.5rem 1.5rem
      color: black
      .card-title
        font-weight: 600
        margin-bottom: 1rem
  a.read_more
    color: black
    text-decoration: none
  img.card-img-top.img-fluid
    max-width: 560px
  .news_logo
    list-style: none
    padding-right: 0
    padding-left: 0
    margin-bottom: 0
    .col
      display: flex
      justify-content: center
      margin-bottom: 25px
      img
        width: 170px
  .card-text
    font-weight: 400
    font-size: .9rem

.contact
  background-color: #2980b9
  padding: 40px 0
  overflow-x: hidden
  color: white
  .footer_row-link
    .meeting, .call
      margin-right: 75px






.search
  padding: 20px
  background-color: rgb(177, 31, 55)
  overflow-x: hidden
  .container
    padding-left: 0
    .main_div-left
      font-size: 2.5em
      font-weight: 300
      color: #fff
      margin-bottom: 1rem
    .main_div-right
      float: right
      padding-right: 0
      .form-control
        width: 380px
        height: 45px
        color: grey
        font-weight: 300
        font-size: 1.2em
      button
        color: white
        background-color: rgb(51, 153, 255)
        font-size: .7rem
        font-weight: 400
        letter-spacing: 2px
        height: 45px
    .main_div-right
      .form-group
        float: right
        .form-control
          width: 400px


.footer
  font-size: .8rem
  padding: 4rem
  overflow-x: hidden
  background-color: #333333
  .footer_row-logo
    margin-bottom: 40px
    .float-left
      img
        width: 193px
    .float-right
      img
        width: 40px
        height: 40px


  .footer_row-link
    display: block
    color: white
    a
      margin-bottom: 10px
      text-align: center
      display: block
      padding: 0
      color: black
      text-decoration: none
      font-size: .8rem
  .footer_row-copyright
    margin-top: 30px
    span
      a
        text-decoration: none
        color: black
  .footer_row-social
    margin-top: 2rem
    img:nth-child(1)
      margin-right: 1rem
      max-width: 145px
