
*,
*:before,
*:after
  box-sizing: border-box

/** * START: Eric Meyer's Reset CSS v2.0 (https://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
html, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, big, cite, code, del, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, section, summary, time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline

/* START: HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
  display: block

ol, ul
  list-style: none

blockquote, q
  quotes: none

blockquote:before,
blockquote:after,
q:before,
q:after
  content: ''
  content: none

table
  border-collapse: collapse
  border-spacing: 0
/** * END: Eric Meyer's Reset CSS v2.0 (https://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */




body
  font-family: 'Raleway', sans-serif
  width: 100%
  color: #2980b9
  display: block
  word-wrap: break-word
  overflow-x: hidden

section
  font-size: .9rem
  //overflow-x: hidden
  //overflow-y: hidden

h1
    font-weight: 100
    font-size: 36px
    margin-bottom: .8rem
    margin: 0 auto

p
  font-weight: 400
  font-size: 1rem
  color: #434242 // new black

button:focus
  outline: 0

a:focus, a:hover, .card.slick-slide
  color: white
  outline: 0 !important

//.img-fluid
//  min-width: 100%
//
//.platform_features div
//  font-size: 1rem
//  margin: 0 auto
//  font-weight: 400

// burger menu
.navbar-light .navbar-toggler
  border-color: transparent
  margin-top: 15px

//button
.btn-circle-blue
  background-color: #2980b9
  font-weight: 200
  color: #fff
  width: 170px
  height: 40px
  font-size: 16px
  border-radius: 0
  cursor: pointer
  line-height: 1.3rem


.btn-circle-white
  background-color: white
  font-weight: 200
  color: #2980b9
  width: 170px
  height: 40px
  font-size: 16px
  border-radius: 0
  cursor: pointer
  line-height: 1.3rem
  margin: 0 auto
  display: block

.btn-circle-white:hover, .btn-circle-white:focus
  background-color: white
  color: #2980b9

.btn-circle-blue:hover
  color: #fff


.small_arrow_left
  position: absolute
  top: 178px
  left: 30px
  width: 20px
  height: 20px
  background: url(../img/icon/arrow_left_lg.svg) no-repeat

.card
  -webkit-box-shadow: 0px 4px 2px 0px rgba(41, 128, 184, 0.1)
  -moz-box-shadow: 0px 4px 2px 0px rgba(41, 128, 184, 0.1)
    box-shadow: 0px 4px 2px 0px rgba(41, 128, 184, 0.1)
  margin-bottom: 10px
  margin-right: 25px
  margin-left: 25px

//triangle
.swipe-tab:after
  content: ''
  z-index: 1000
  margin: 0 auto
  display: inline-block
  height: 0
  border-left: 10px solid transparent
  border-right: 10px solid transparent
  border-top: 10px solid rgba(41, 128, 184, .5)
  clear: both
  top: 50px
  position: absolute

//red arrow left
.learn_more:before
  content: " "
  background:  url(../img/icon/red_arrow.png) no-repeat
  background-position: bottom
  display: inline-block
  width: 15px
  height: 15px

//white arrow left
.platform_features
  .main_div-r
    .footer:before
      content: " "
      background:  url(../img/icon/arrow_sm_left_white.png) no-repeat
      background-position: bottom
      display: inline-block
      width: 15px
      height: 15px
      margin-right: 10px

//black arrow left
.magento a.read_more:before,
.product .main_div-right .footer:before
  content: " "
  background:  url(../img/icon/arrow_black_sm_left.png) no-repeat
  background-position: bottom
  display: inline-block
  width: 15px
  height: 15px

.bespoke
  .main_div-right
    .footer:before
      margin-right: 10px

////green check mark
//.bespoke .main_div-r .product_li:before,
//.bespoke .main_div-right .product_li:after
//  content: " "
//  background:  url(../img/icon/green_arrow.png) no-repeat
//  background-position: bottom
//  display: inline-block
//  width: 15px
//  height: 15px
//  margin-right: 4px

.bespoke
  .main_div-right
    .product_li:after
      float: right
      margin-top: 20px
      margin-right: 5px

.bespoke
  .slick-dots
    li
      button:before
        color: rgb(177, 31, 55)
        margin: 20px 0
    li.slick-active
      button:before
        opacity: 1
        color: rgb(177, 31, 55)

// quote
//.quote:before
//  content: " “ "
//  font-family: 'Open Sans', sans-serif
//  color: #b11f37
//  font-size: 4em
//  position: absolute
//  top: -80px
//  left: -40px
//  width: 30px
//  height: 30px
//
//.quote:after
//  content: " ” "
//  color: rgb(177, 31, 55)
//  font-family: 'Open Sans', sans-serif
//  font-size: 4em
//  position: absolute

// slicker margin
.slick-dotted.slick-slider
  padding: 0 15px
  margin-bottom: 40px

// slicker arrow
.slick-prev.slick-arrow, .slick-next.slick-arrow
  //display: flex
  position: absolute
  bottom: 0
  display: -webkit-box
  display: -webkit-flex
  display: -ms-flexbox
  display: flex
  -webkit-box-align: center
  -webkit-align-items: center
  -ms-flex-align: center
  align-items: center
  -webkit-box-pack: center
  -webkit-justify-content: center
  -ms-flex-pack: center
  justify-content: center
  width: 17%
  height: inherit
  text-align: center
  z-index: 999
.slick-prev.slick-arrow
  margin-left: 100px
.slick-next.slick-arrow
  margin-right: 100px
.slick-prev.slick-arrow:before
  content: ''
  background: url(../img/left_arrow-blue.png) no-repeat
  background-size: 36px
  width: 50px
  height: 67px
  z-index: 999

.slick-next.slick-arrow:before
  content: ''
  background: url(../img/right_arrow-blue.png) no-repeat
  background-size: 36px
  width: 50px
  height: 67px
  z-index: 999


// START: dot indicator
.slick-dots
  display: block
  position: static
  li
    button
      width: 30px
      height: 30px
    button:before
      font-size: 18px
      margin: 35px 0
      opacity: .2
      color: white

.slick-dots
  li.slick-active
    button:before
      opacity: 1
      color: white

.impact_carousel
  .slick-dots
    li
      button:before
        color: rgb(177, 31, 55)
        margin: 20px 0
    li.slick-active
      button:before
        opacity: 1
        color: rgb(177, 31, 55)

.magento
  .slick-dots
    li
      button:before
        color: rgb(177, 31, 55)
        margin: 38px 0
    li.slick-active
      button:before
        opacity: 1
        color: rgb(177, 31, 55)

.platform_user
  .slick-dots
    li
      button:before
        color: rgb(177, 31, 55)
        margin: 20px 0
    li.slick-active
      button:before
        opacity: 1
        color: rgb(177, 31, 55)

// END: dot indicator


.card_carousel.slick-slider
  margin: 40px 0 80px 0

.platform_user
  .card_carousel.slick-slider
    margin: 40px 0

.platform_features
  .slick-dotted.slick-slider
    padding: 0

.slick-list.draggable
  max-width: 1200px
  margin: 0 auto



//text blurry issue
     -webkit-transform: translate3d(0,0,1px)
     -moz-transform: translate3d(0,0,1px)
     -ms-transform: translate3d(0,0,1px)
     -o-transform: translate3d(0,0,1px)
     transform: translate3d(0,0,1px)

