@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700");
*:focus {
  outline: 0; }

*,
*:before,
*:after {
  box-sizing: border-box; }

a:focus,
a:hover,
.card.slick-slide {
  color: white;
  outline: 0 !important; }

/** * START: Eric Meyer's Reset CSS v2.0 (https://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
html, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, big, cite, code, del, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/** * END: Eric Meyer's Reset CSS v2.0 (https://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
body {
  font-family: "Raleway", sans-serif;
  letter-spacing: 1px;
  width: 100%;
  color: #434242;
  word-wrap: break-word;
  overflow-x: hidden; }

section {
  font-size: 0.9rem; }

h1 {
  font-weight: 400;
  font-size: 1.3rem;
  text-transform: uppercase;
  border-top: 2px solid #4BAF97;
  width: fit-content;
  letter-spacing: 0.1rem;
  padding: 1rem;
  margin: 0 auto; }

p {
  font-weight: 400;
  font-size: 0.8rem;
  color: #434242;
  line-height: 1.4rem;
  padding-bottom: 7%; }
  p .white {
    color: white; }

.header .btn.btn-circle-white {
  padding: 9px;
  margin: 0;
  color: #2980b9;
  width: 180px;
  border: 0;
  margin-top: 70px; }

.small_arrow_left {
  position: absolute;
  top: 178px;
  left: 30px;
  width: 20px;
  height: 20px;
  background: url(../img/icon/arrow_left_lg.svg) no-repeat; }

.card {
  -webkit-box-shadow: 0px 4px 2px 0px rgba(41, 128, 184, 0.1);
  -moz-box-shadow: 0px 4px 2px 0px rgba(41, 128, 184, 0.1);
  box-shadow: 0px 4px 2px 0px rgba(41, 128, 184, 0.1);
  margin-bottom: 10px;
  margin-right: 25px;
  margin-left: 25px; }

.slick-dotted.slick-slider {
  margin-bottom: 40px; }

.most_loved .slick-slide img {
  border: 1px solid #C0C0C0;
  padding: 3rem; }

.slick-dots {
  display: block;
  position: static; }
  .slick-dots li button:before {
    font-size: 35px;
    margin: 35px 0;
    color: #C0C0C0; }
  .slick-dots li.slick-active button:before {
    color: #E0007C; }

.card_carousel.slick-slider {
  margin: 40px 0 80px 0; }

@-webkit-keyframes hotspot-vertical-top {
  0%,
30%,
40%,
53.3%,
66.667%,
100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -ms-animation-timing-function: ease-out;
    -o-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  35% {
    -webkit-transform: translate3d(0, 25px, 0);
    -moz-transform: translate3d(0, 25px, 0);
    -ms-transform: translate3d(0, 25px, 0);
    -o-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -ms-animation-timing-function: ease-in;
    -o-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  46.667% {
    -webkit-transform: translate3d(0, 12.5px, 0);
    -moz-transform: translate3d(0, 12.5px, 0);
    -ms-transform: translate3d(0, 12.5px, 0);
    -o-transform: translate3d(0, 12.5px, 0);
    transform: translate3d(0, 12.5px, 0);
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -ms-animation-timing-function: ease-in;
    -o-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  60% {
    -webkit-transform: translate3d(0, 6.25px, 0);
    -moz-transform: translate3d(0, 6.25px, 0);
    -ms-transform: translate3d(0, 6.25px, 0);
    -o-transform: translate3d(0, 6.25px, 0);
    transform: translate3d(0, 6.25px, 0);
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -ms-animation-timing-function: ease-in;
    -o-animation-timing-function: ease-in;
    animation-timing-function: ease-in; } }
@-moz-keyframes hotspot-vertical-top {
  0%,
30%,
40%,
53.3%,
66.667%,
100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -ms-animation-timing-function: ease-out;
    -o-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  35% {
    -webkit-transform: translate3d(0, 25px, 0);
    -moz-transform: translate3d(0, 25px, 0);
    -ms-transform: translate3d(0, 25px, 0);
    -o-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -ms-animation-timing-function: ease-in;
    -o-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  46.667% {
    -webkit-transform: translate3d(0, 12.5px, 0);
    -moz-transform: translate3d(0, 12.5px, 0);
    -ms-transform: translate3d(0, 12.5px, 0);
    -o-transform: translate3d(0, 12.5px, 0);
    transform: translate3d(0, 12.5px, 0);
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -ms-animation-timing-function: ease-in;
    -o-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  60% {
    -webkit-transform: translate3d(0, 6.25px, 0);
    -moz-transform: translate3d(0, 6.25px, 0);
    -ms-transform: translate3d(0, 6.25px, 0);
    -o-transform: translate3d(0, 6.25px, 0);
    transform: translate3d(0, 6.25px, 0);
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -ms-animation-timing-function: ease-in;
    -o-animation-timing-function: ease-in;
    animation-timing-function: ease-in; } }
@-ms-keyframes hotspot-vertical-top {
  0%,
30%,
40%,
53.3%,
66.667%,
100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -ms-animation-timing-function: ease-out;
    -o-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  35% {
    -webkit-transform: translate3d(0, 25px, 0);
    -moz-transform: translate3d(0, 25px, 0);
    -ms-transform: translate3d(0, 25px, 0);
    -o-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -ms-animation-timing-function: ease-in;
    -o-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  46.667% {
    -webkit-transform: translate3d(0, 12.5px, 0);
    -moz-transform: translate3d(0, 12.5px, 0);
    -ms-transform: translate3d(0, 12.5px, 0);
    -o-transform: translate3d(0, 12.5px, 0);
    transform: translate3d(0, 12.5px, 0);
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -ms-animation-timing-function: ease-in;
    -o-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  60% {
    -webkit-transform: translate3d(0, 6.25px, 0);
    -moz-transform: translate3d(0, 6.25px, 0);
    -ms-transform: translate3d(0, 6.25px, 0);
    -o-transform: translate3d(0, 6.25px, 0);
    transform: translate3d(0, 6.25px, 0);
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -ms-animation-timing-function: ease-in;
    -o-animation-timing-function: ease-in;
    animation-timing-function: ease-in; } }
@keyframes hotspot-vertical-top {
  0%,
30%,
40%,
53.3%,
66.667%,
0% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -ms-animation-timing-function: ease-out;
    -o-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  35% {
    -webkit-transform: translate3d(0, 25px, 0);
    -moz-transform: translate3d(0, 25px, 0);
    -ms-transform: translate3d(0, 25px, 0);
    -o-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -ms-animation-timing-function: ease-in;
    -o-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  46.667% {
    -webkit-transform: translate3d(0, 12.5px, 0);
    -moz-transform: translate3d(0, 12.5px, 0);
    -ms-transform: translate3d(0, 12.5px, 0);
    -o-transform: translate3d(0, 12.5px, 0);
    transform: translate3d(0, 12.5px, 0);
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -ms-animation-timing-function: ease-in;
    -o-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  60% {
    -webkit-transform: translate3d(0, 6.25px, 0);
    -moz-transform: translate3d(0, 6.25px, 0);
    -ms-transform: translate3d(0, 6.25px, 0);
    -o-transform: translate3d(0, 6.25px, 0);
    transform: translate3d(0, 6.25px, 0);
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -ms-animation-timing-function: ease-in;
    -o-animation-timing-function: ease-in;
    animation-timing-function: ease-in; } }
@media screen and (min-width: 320px) {
  .header {
    background: url(../img/nails-header-mobile.jpg) 49% center no-repeat;
    background-size: cover; }

  .approach {
    background: url(../img/approach/approach_bg.jpg) 48% center no-repeat;
    background-size: cover; }

  #vip {
    background: url(../img/approach/approach_bg.jpg) 76% center no-repeat;
    background-size: cover; }

  .results .img .telegraph {
    margin-top: 10%; }

  .footer {
    font-size: 1rem;
    padding-top: 165px; } }
@media screen and (min-width: 320px) {
  .container {
    margin: 0 auto; }

  .header {
    background: url(../img/nails-header-mobile.jpg) center center no-repeat;
    background-size: cover;
    max-width: 100vw;
    height: 580px; }

  .strategy {
    padding: 40px 15px;
    font-weight: 300;
    overflow-x: hidden; }
    .strategy .container .strategy_title {
      padding: 0; }
    .strategy .container .strategy_card .card-block {
      width: 100%;
      border: 0;
      box-shadow: none;
      color: #434242;
      margin: 0;
      padding: 0; }
    .strategy .container .strategy_card h4 {
      color: #4BAF97;
      margin-top: 7%;
      font-size: 0.8rem;
      text-transform: uppercase; }
    .strategy .container .strategy_card img {
      width: 50px;
      height: 50px;
      margin: 0 auto; }
    .strategy .container .strategy_card .card:hover {
      background-color: transparent;
      -moz-transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0s ease;
      -webkit-transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0s ease;
      -o-transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0s ease;
      transform: scale(1.1);
      z-index: 1;
      box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
      transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0s ease; }
    .strategy .container .strategy_card .card:nth-of-type(1):hover {
      box-shadow: 0 8px 20px rgba(235, 150, 8, 0.2); }
      .strategy .container .strategy_card .card:nth-of-type(1):hover h4 {
        color: #EB9608; }
    .strategy .container .strategy_card .card:nth-of-type(2):hover {
      box-shadow: 0 8px 20px rgba(67, 0, 115, 0.2); }
      .strategy .container .strategy_card .card:nth-of-type(2):hover h4 {
        color: #430073; }
    .strategy .container .strategy_card .card:nth-of-type(3):hover {
      box-shadow: 0 8px 20px rgba(25, 25, 112, 0.2); }
      .strategy .container .strategy_card .card:nth-of-type(3):hover h4 {
        color: midnightblue; }
    .strategy .container .strategy_card .card:nth-of-type(4):hover {
      box-shadow: 0 8px 20px rgba(165, 42, 42, 0.2); }
      .strategy .container .strategy_card .card:nth-of-type(4):hover h4 {
        color: brown; }
    .strategy .container .strategy_card .card:nth-of-type(5):hover {
      box-shadow: 0 8px 20px rgba(224, 0, 124, 0.2); }
      .strategy .container .strategy_card .card:nth-of-type(5):hover h4 {
        color: #E0007C; }
    .strategy .container .strategy_card .card:hover img {
      -webkit-animation: none 2s linear infinite;
      -moz-animation: none 2s linear infinite;
      -ms-animation: none 2s linear infinite;
      -o-animation: none 2s linear infinite;
      animation: none 2s linear infinite;
      -webkit-animation-fill-mode: both;
      -moz-animation-fill-mode: both;
      -ms-animation-fill-mode: both;
      -o-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation-name: hotspot-vertical-top;
      -moz-animation-name: hotspot-vertical-top;
      -ms-animation-name: hotspot-vertical-top;
      -o-animation-name: hotspot-vertical-top;
      animation-name: hotspot-vertical-top; }

  .brief {
    background: url(../img/brief.jpg) left center no-repeat;
    background-size: cover;
    padding: 8rem 0;
    overflow-x: hidden; }
    .brief p {
      padding: 0 0 0 5%;
      text-align: center; }

  .approach {
    padding: 40px 20px;
    color: white;
    background: url(../img/approach/approach_bg.jpg) 44% center no-repeat;
    background-size: cover; }
    .approach article.left-text {
      font-weight: 300 !important;
      padding-right: 10%;
      padding-bottom: 5%; }
      .approach article.left-text h1 {
        margin: 0;
        padding: 1rem 0 2rem 0; }
      .approach article.left-text p {
        font-weight: 300;
        font-size: 0.8rem;
        color: white; }
    .approach figure {
      max-width: 668px;
      margin-bottom: 20px; }
    .approach .right-img.mobile-img {
      display: block; }
    .approach .right-img.desktop-img {
      display: none; }

  .most_loved {
    padding: 40px 0; }
    .most_loved .slick-slide img {
      padding: 0.5rem;
      margin: 0 auto; }

  #vip {
    background: url(../img/approach/approach_bg.jpg) 85% center no-repeat;
    background-size: cover; }

  .results {
    padding: 40px 0 150px 0; }
    .results .slick-initialized .slick-slide {
      padding: 0 5rem; }
    .results .text {
      padding: 0; }
      .results .text p {
        text-align: center;
        padding-bottom: 6%; }
    .results .img {
      display: flex;
      justify-content: center; }
      .results .img .telegraph {
        width: 80%;
        margin-top: 2%;
        position: absolute;
        z-index: 999;
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2); }

  .footer {
    background: url(../img/footer_bg.jpg) 84% center no-repeat;
    background-size: cover;
    min-height: 731px;
    font-size: 1.2rem;
    padding-top: 220px; }
    .footer .quote:before {
      display: block;
      font-family: Georgia, serif;
      top: -80px;
      left: 25%;
      right: 25%;
      content: "“ " " ”";
      font-weight: 800;
      font-size: 80px;
      position: absolute;
      color: #E0007C; }
    .footer .quote {
      padding: 0 8% 3%;
      font-style: italic;
      letter-spacing: 2px; }
    .footer .author {
      color: #E0007C;
      font-size: 0.9rem;
      letter-spacing: 1.5px; }
    .footer .contact {
      padding-top: 123px;
      letter-spacing: 2px;
      font-size: 3vmin; } }
@media screen and (min-width: 768px) {
  .approach {
    padding: 100px 0 160px 0; }

  #vip {
    padding: 90px 0 95px 0; }

  .most_loved {
    padding: 90px 0; }

  .results {
    padding: 100px 0 34% 0; }
    .results .slick-initialized .slick-slide {
      padding: 0 12rem; }
    .results .slick-dotted.slick-slider {
      border: 0; }
    .results .text {
      padding: 0 19%; }

  .footer {
    font-size: 1.5rem;
    padding-top: 250px; } }
@media screen and (min-width: 900px) {
  .strategy .container .strategy_card .card-block {
    width: 33%; }

  .approach {
    background: url(../img/approach/approach_bg.jpg) center center no-repeat;
    background-size: cover; }
    .approach .right-img.mobile-img {
      display: none; }
    .approach .right-img.desktop-img {
      display: block; }

  .results .slick-initialized .slick-slide {
    padding: 0 12rem; }

  #vip .right-img.mobile-img {
    display: none; }
  #vip .right-img.desktop-img {
    display: block; } }
@media screen and (min-width: 1024px) {
  .header {
    background: url(../img/nails-header.jpg) center center no-repeat;
    background-size: cover; }
    .header div.container {
      width: 1200px;
      margin: 0 auto;
      display: flex; }
      .header div.container .left-text {
        float: right;
        transition: all 1s; }
      .header div.container .right-img {
        position: relative;
        top: -240px;
        float: left; }

  .strategy {
    padding: 5rem 0 3rem 0; }
    .strategy .container .strategy_title {
      padding: 0 100px 50px; }
    .strategy .container p {
      font-size: 0.8rem;
      font-weight: 300;
      padding: 0 20px 20px; }
    .strategy .container .strategy_card .card-block {
      width: 10%; }

  .brief {
    background: url(../img/brief.jpg) center center no-repeat;
    background-size: cover; }
    .brief p {
      padding: 1.5rem 8rem;
      text-align: center; }

  .approach .feature_carousel {
    margin: 0 100px; }
    .approach .feature_carousel .row.align-items-center {
      padding: 0 115px; }

  .results .slick-initialized .slick-slide {
    padding: 0; }
  .results .slick-slider {
    padding: 2rem 0 5rem 0; }
  .results .img img {
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
  .results .img:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }

  .footer {
    padding-top: 290px; } }
@media screen and (min-width: 1200px) {
  .results .slick-initialized .slick-slide {
    width: 300px; } }

/*# sourceMappingURL=manifest.css.map */
