<section class="approach" id="platform_features_control">
    <div class="container">
        <div class="row align-items-center">
            <figure class="right-img mobile-img col">
                <img class="img-fluid" src="./img/approach/carousel-our-approach-1.jpg">
            </figure>
            <article class="left-text float-left col col-lg-5 col-12 timeline-content js--fadeInLeft">
                <h1>our approach</h1>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem </p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                    has been the industry's standard dummy text has been the industry's standard dummy text</p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                    has been the industry's standard dummy text has been the industry's standard dummy text</p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                    has been the industry's standard dummy text</p>
            </article>
            <figure class="right-img desktop-img float-right col col-lg-7 col-12">
                <img class="img-fluid" src="./img/approach/carousel-our-approach-1.jpg">
            </figure>
        </div>
    </div>
</section>