<section class="product">
    <div class="container">
        <div class="row align-items-center">

            <div class="main_div-left col col-lg-6 col-12 col-md-12">
                <div class="card second">
                    <div class="card-block text-center">
                        <p class="text-center">START UP E-COMMERCE WEBSITE </p>
                    </div>
                    <p id="launch_per_month" class="card_blue_ribbon text-center">
                        £7,500<span class="permonth">/mo</span>
                        <span class="bill">BILLED ANNUALLY</span>
                    </p>
                    <div class="card-block">
                        <ul class="product_card_ul">
                            <li class="product_li"> Package includes:</li>
                            <li class="product_li"> Branding Identity</li>
                            <li class="product_li"> Bespoke Website Design  <span>pill</span></li>
                            <li class="product_li">Hosting & Support</li>
                        </ul>
                        <a class="btn btn-circle-red my-2 my-sm-0 text-center" href="#">FIND OUT MORE</a>
                    </div>
                </div>
            </div>
            <div class="main_div-right col col-lg-6 col-md-12 col-12" id="product_list_lower">
                <h4>START UP E-COMMERCE WEBSITE</h4>
                <h1>MEASURE THE IMPACT YOUR WEBSITE HAS ON YOUR BUSINESS</h1>
                <div>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                    leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
                    with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                    publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </div>

                <div class="footer float-right"><a class="btn btn-circle-red my-2 my-sm-0 text-center" href="#">GET
                    STARTED</a> or Call u <i>0207 607 6417</i>
                </div>
            </div>

        </div>
    </div>
</section>