<section class="bespoke">
    <div class="sub-header ">
        <div class="swipe-tabs">
            <div class="swipe-tab">STARTUP E-COMMERCE WEBSITE <span class="cleaner"></span></div>
            <div class="swipe-tab">BESPOKE E-COMMERCE WEBSITE <span class="cleaner"></span></div>
            <div class="swipe-tab">BESPOKE WEBSITE / SOFTWARE <span class="cleaner"></span></div>
        </div>
    </div>
    <div class="main-container">
        <div class="swipe-tabs-container ">

            <!--END: slide1 -->
            <div class="swipe-tab-content first">

                <!--START: slide1 -->
                <div class="row align-items-center ">
                    <div class="main_div-l col col-lg-6 col-12 col-md-12">
                        <img class="tab_first-img" src="img/bespoke_laptop.png" alt="" style="width: 870px;">
                        <div class="tab_first-content">
                            <div class="header">2017 ECONSULTANCY SURVEY</div>
                            <div class="tab_first-text">"99% of online business fail due to lack of support and a badly
                                desgined website"</div>
                            <div class="tab_first-num"><span class="digit">99</span>  <span class="percent">%</span></div>
                        </div>
                    </div>

                    <div class="main_div-r col col-lg-6 col-md-12 col-12" id="product_list_lower">
                        <h4>BESPOKE E-COMMERCE WEBSITE</h4>
                        <h2>MEASURE THE IMPACT YOUR WEBSITE HAS ON YOUR BUSINESS</h2>
                        <div>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the
                            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                            of type
                            and scrambled it to make a type specimen book. It has survived not only five centuries, but
                            also the
                            leap into electronic typesetting, remaining essentially unchanged. It was popularised in the
                            1960s
                            with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
                            desktop
                            publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        </div>

                        <div class="footer"><a class="btn btn-circle-blue my-2 my-sm-0 text-center" href="#">REQUEST A QUOTE</a>&nbsp;or Call us <b style="font-weight: 600;">0207 607 6417</b>
                        </div>
                    </div>
                </div>
                <!--END: slide1 -->


            </div>

            <div class="swipe-tab-content second">
                <!--START: slide2 -->
                <div class="row align-items-center container">
                    <div class="main_div-l col col-lg-5 col-12 col-md-12">
                        <div class="card second">
                            <div class="card-block text-center">
                                <p class="text-center bespoke_title">Startup E-commerce Package </p>
                                <div class="price"><span class="pound">£</span>7,500
                                    <div class="bill">one-off fee(includes 1 year hosting)</div>
                                </div>
                            </div>
                            <p id="launch_per_month" class="card_blue_ribbon text-center">
                                Get up and running quickly with a simple solution that provides multichannel inventory
                                control
                                for growing retailers.
                            </p>
                            <div class="card-block">
                                <ul class="product_card_ul">
                                    <li class="product_li"><b style="font-weight: 600;">Package includes:</b></li>
                                    <li class="product_li"> Branding Identity</li>
                                    <li class="product_li"> Bespoke Website Design <span id="bespoke_badge"
                                                                                         class="badge badge-pill badge-danger">NO TEMPLATE</span>
                                    </li>
                                    <li class="product_li" style="border-bottom: 0;">Hosting & Support</li>
                                </ul>
                                <a class="btn btn-circle-blue my-2 my-sm-0 text-center" id="findout" href="#">FIND OUT
                                    MORE</a>
                            </div>
                        </div>
                    </div>

                    <div class="main_div-r col col-lg-7 col-md-12 col-12" id="product_list_lower">
                        <h4>START UP E-COMMERCE WEBSITE</h4>
                        <h2>MEASURE THE IMPACT YOUR WEBSITE HAS ON YOUR BUSINESS</h2>
                        <div>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the
                            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                            of type
                            and scrambled it to make a type specimen book. It has survived not only five centuries, but
                            also the
                            leap into electronic typesetting, remaining essentially unchanged. It was popularised in the
                            1960s
                            with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
                            desktop
                            publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        </div>

                        <div class="footer"><a class="btn btn-circle-blue my-2 my-sm-0 text-center" href="#">GET
                            STARTED</a>&nbsp;or Call us <b style="font-weight: 600;">0207 607 6417</b>
                        </div>
                    </div>
                </div>
                <!--END: slide2 -->


            </div>


            <div class="swipe-tab-content third">
                <!--START: slide3 -->
                <div class="row align-items-center container">
                    <div class="main_div-l col col-lg-5 col-12 col-md-12">
                        <div class="card second">
                            <div class="card-block text-center">
                                <p class="text-center bespoke_title">Startup E-commerce Package </p>
                                <div class="price"><span class="pound">£</span>7,500
                                    <div class="bill">one-off fee(includes 1 year hosting)</div>
                                </div>
                            </div>
                            <p id="launch_per_month" class="card_blue_ribbon text-center">
                                Get up and running quickly with a simple solution that provides multichannel inventory
                                control
                                for growing retailers.
                            </p>
                            <div class="card-block">
                                <ul class="product_card_ul">
                                    <li class="product_li"><b style="font-weight: 600;">Package includes:</b></li>
                                    <li class="product_li"> Branding Identity</li>
                                    <li class="product_li"> Bespoke Website Design <span id="bespoke_badge"
                                                                                         class="badge badge-pill badge-danger">NO TEMPLATE</span>
                                    </li>
                                    <li class="product_li" style="border-bottom: 0;">Hosting & Support</li>
                                </ul>
                                <a class="btn btn-circle-blue my-2 my-sm-0 text-center" id="findout" href="#">FIND OUT
                                    MORE</a>
                            </div>
                        </div>
                    </div>

                    <div class="main_div-r col col-lg-7 col-md-12 col-12" id="product_list_lower">
                        <h4>START UP E-COMMERCE WEBSITE</h4>
                        <h2>MEASURE THE IMPACT YOUR WEBSITE HAS ON YOUR BUSINESS</h2>
                        <div>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the
                            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                            of type
                            and scrambled it to make a type specimen book. It has survived not only five centuries, but
                            also the
                            leap into electronic typesetting, remaining essentially unchanged. It was popularised in the
                            1960s
                            with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
                            desktop
                            publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        </div>

                        <div class="footer"><a class="btn btn-circle-blue my-2 my-sm-0 text-center" href="#">GET
                            STARTED</a>&nbsp;or Call us <b style="font-weight: 600;">0207 607 6417</b>
                        </div>
                    </div>
                </div>
                <!--END: slide3 -->
            </div>
        </div>
    </div>


</section>