<section class="brief" id="scroll1">
    <div class="container">
        <h1 class="text-center">The Brief</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat nam quae quia. Dignissimos dolore reiciendis
            sint ullam unde! Non tempora veritatis voluptatem? Asperiores, ipsum neque numquam ratione repellendus saepe
            vero!
        </p>
    </div>
</section>
