<section class="contact">
    <div class="container">
        <div class="investing_title row align-items-center">
            <h1>Find out how we can help develop your potential online, Contact us today.</h1>
        </div>
        <div class="footer_row-link row justify-content-center">
            <div class="meeting" href="#">
                <span>Let’s meet up!</span>
                <div>MEETING</div>
            </div>
            <div class="call" href="#">
                <span>Give us a call</span>
                <div>0207 607 6417</div>
            </div>
            <div class="much" href="#">
                <span>How much?</span>
                <div>QUOTE REQUEST</div>
            </div>
        </div>
    </div>
</section>