<section class="contact">
    <div class="container">
        <div class="strategy_title row align-items-center">
            <h1>Find out how we can help develop your potential online, Contact us today.</h1>
        </div>
        <div class="footer_row-link row text-center justify-content-center">
            <div class="meeting">
                <span>Let’s meet up!</span>
                <a class="btn btn-circle-white" href="#">MEETING</a>
            </div>
            <span id="seperator"></span>
            <div class="call">
                <span>Give us a call</span>
                <div>0207 607 6417</div>
            </div>
            <span id="seperator"></span>
            <div class="much">
                <span>How much?</span>
                <a class="btn btn-circle-white" href="#">QUOTE REQUEST</a>
            </div>
        </div>
    </div>
</section>