<footer class="footer">
    <div class="container container-fluid">

        <div class="footer_row-logo row">
            <div class="float-left">
                <a class="" href="#"><img class="" src="img/footer-logo_be.png"></a>
            </div>

            <div class="float-right">
                <a class="social" href="#"><img class="twitter" src="img/footer_social-twitter.png"></a>
                <a class="social" href="#"><img class="face" src="img/footer-social_face.png"></a>
                <a class="social" href="#"><img class="in" src="img/footer-social_in.png"></a>
            </div>
        </div>

        <div class="footer_row-link row">
            <div class="footer_section"> <span>COMPANY</span>
                <ul>
                    <a href="#"><li>About us</li></a>
                    <a href="#"><li>Why us?</li></a>
                    <a href="#"><li>Partners</li></a>
                    <a href="#"><li>Testimonials</li></a>
                    <a href="#"><li>Careers</li></a>
                    <a href="#"><li>Contact</li></a>
                </ul>
            </div>
            <div class="footer_section"><span>SERVICES</span>
                <ul>
                    <a href="#"><li>E-Commerce</li></a>
                    <a href="#"><li>Digital Marketing</li></a>
                    <a href="#"><li>Software Development</li></a>
                    <a href="#"><li>Request a Quote</li></a>
                    <a href="#"><li>FAQ’s</li></a>
                </ul>
            </div>
            <div class="footer_section"><span>LEGAL</span>
                <ul>
                    <a href="#"><li>Privacy Policy</li></a>
                    <a href="#"><li>Terms & Conditions</li></a>
                    <a href="#"><li>Cookie Policy</li></a>
                </ul>
            </div>
            <div href="#" class="fourth_col">We would be delighted to help you!
                <ul>
                    <li>United House, North Road, Islington<br/>
                        London N7 9DP. United Kingdom<br/>
                        Tel.: +44 20 7607 6417</li>
                    <li class="copyright">Copyright © 2017 Be Memorable.</li>
                </ul>
            </div>
        </div>


        <div class="footer_row-social row justify-content-center footer_social">
            <div class="col text-center">
                <a href="#"><img id="rock" src="./img/footer-logo_rock.png" alt="rockspace"></a>
                <a href="#"><img id="ad" src="./img/footer-logo_ad.png" alt="ad"></a>
                <a href="#"><img id="sage" src="./img/footer-logo_sage.png" alt="sage_pay"></a>
                <a href="#"><img id="amazone" src="./img/footer-logo_amazone.png" alt="amazon"></a>
                <a href="#"><img id="paypal" src="./img/footer-logo_paypal.png" alt="paypal"></a>
                <a href="#"><img id="ogone" src="./img/footer-logo_ogone.png" alt="ogone"></a>
            </div>
        </div>
    </div>
</footer>
