<footer class="footer text-center">
    <div class="container container-fluid">
        <!--<div class="quote_mark"></div>-->
        <div class="quote"><i>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus adipisci, aliquam animi consequuntur
            dolor enim error id laboriosam laborum, molestiae officiis omnis perspiciatis provident quaerat quam
            recusandae, sint voluptatem voluptates.</i>
        </div>
        <div class="author"> Heather Steele, head of marketing and product development at Nails inc</div>
        <div class="contact">Call us today about your digital transformation needs</div>
    </div>
</footer>
