<section class="main_banner" id="scroll1">
    <!--<div class="" style="font-size: 50px; color: #9d223c; display: flex; position: fixed;-->
                <!--justify-content: center; font-weight: 600; margin: 0 auto; background-color: #c1e2b3"> on process </div>-->
    <div class="row align-items-center">
        <div class="main_div-l col col-lg-7 col-md-12 col-12">
            <div class="fact">
                <span>FACTS</span>
                <p>90% of fashion retailers fail in their first year in business</p>
                <a class="my-2 my-sm-0" href="#">&raquo; FIND OUT WHY</a>
            </div>
            <div class="square"></div>

        </div>
        <div class="main_div-r float-right col col-lg-7 col-md-12 col-12">
            <h1>Enterprise E-commerce Solutions</h1>
            <p>We nurture online retailers to grow and compete with the best in their industry</p>
            <a class="btn btn-circle-white float-right my-2 my-sm-0" href="#">HOW WE DO IT?</a>
        </div>
    </div>
    <a class="go_down" href="#scroll2"><img src="img/main-arrow.png" alt="" style="width: 50px"></a>
</section>
