<section class="main_banner">
    <div class="row align-items-center">
        <div class="main_div-right col col-lg-7 col-md-12 col-12">
            <span>FACTS</span>
            <p>90% of fashion retailers fail in their first year in business</p>
            <a class="btn btn-circle-blue my-2 my-sm-0" href="#">FIND OUT WHY</a>
        </div>
        <div class="main_div-left float-right col col-lg-5 col-md-12 col-12">
            <h1>Enterprise E-commerce Solutions</h1>
            <p>We nurture online retailers to grow and compete with the best in their industry</p>
            <a class="btn btn-circle-blue my-2 my-sm-0" href="#">HOW WE DO IT?</a>
        </div>

    </div>
</section>
