<section class="header">
    <div class="container">
        <!--mobile-view -->
        <div class="xs-menu-cont">
            <a id="menutoggle"><i class="fa fa-align-justify"></i> </a>
            <nav class="xs-menu displaynone">
                <ul>
                    <li class=""><a href="#">WHY US?</a></li>
                    <li><a href="#">E-COMMERCE</a></li>
                    <li><a href="#">DIGITAL MARKETING</a></li>
                    <li><a href="#">SOFTWARE DEVELOPMENT</a></li>
                    <li><a href="#">OUR WORK</a></li>
                    <li><a href="#">PARTNERS</a></li>
                    <li><a href="#">NEWS/BLOG</a></li>
                    <li><a href="#">CONTACT</a></li>
                </ul>
            </nav>
        </div>

        <nav class="menu">
            <ul>
                <li class="active"><img src="img/header_cup.png" alt=""/></li>
                <li class="drop-down"><a href="#">WHY US?</a>
                    <!--START: category-->
                <li class="drop-down"><a href="#">E-COMMERCE</a>

                    <div class="mega-menu fadeIn animated">
                        <div class="mm-3column">
                            <span class="categories-list">
							    <ul>
							    <span>PLAN</span>
								    <a href="#"><li>Consulting / Strateg</li></a>
								    <a href="#"><li>Brand Identity</li></a>
								    <a href="#"><li>Design & User Experience</li></a>
							    </ul>
						    </span>
                        </div>

                        <div class="mm-3column">
						    <span class="categories-list">
						        <ul>
							    <span>BUILD</span>
                                    <a href="#"><li>Website Development</li></a>
                                    <a href="#"><li>Platform Integration</li></a>
                                    <a href="#"><li>Marketplace</li></a>
                                    <a href="#"><li>Third Party</li></a>
                                    <a href="#"><li>Google Analytics</li></a>
							    </ul>
						    </span>
                        </div>

                        <div class="mm-3column">
                            <span class="categories-list">
						    <ul>
							<span>SUPPORT</span>
							    <a href="#"><li>Consulting / Strategy</li></a>
							    <a href="#"><li>Managed Hosting</li></a>
							    <a href="#"><li>Design & User Experience</li></a>
							    <a href="#"><li>Website Development</li></a>
						    </ul>
					        </span>
                        </div>
                    </div>

                </li>

                <!--START: category-->
                <li class="drop-down"><a href="#">DIGITAL MARKETING</a>

                    <div class="mega-menu fadeIn animated">
                        <div class="mm-3column">
                            <span class="categories-list">
							    <ul>
							    <span>PLAN</span>
								    <a href="#"><li>Consulting / Strateg</li></a>
								    <a href="#"><li>Brand Identity</li></a>
								    <a href="#"><li>Design & User Experience</li></a>
							    </ul>
						    </span>
                        </div>

                        <div class="mm-3column">
						    <span class="categories-list">
						        <ul>
							    <span>BUILD</span>
                                    <a href="#"><li>Website Development</li></a>
                                    <a href="#"><li>Platform Integration</li></a>
                                    <a href="#"><li>Marketplace</li></a>
                                    <a href="#"><li>Third Party</li></a>
                                    <a href="#"><li>Google Analytics</li></a>
							    </ul>
						    </span>
                        </div>

                        <div class="mm-3column">
                            <span class="categories-list">
						    <ul>
							<span>SUPPORT</span>
							    <a href="#"><li>Consulting / Strategy</li></a>
							    <a href="#"><li>Managed Hosting</li></a>
							    <a href="#"><li>Design & User Experience</li></a>
							    <a href="#"><li>Website Development</li></a>
						    </ul>
					        </span>
                        </div>
                    </div>

                </li>

                <!--START: category-->
                <li class="drop-down"><a href="#">SOFTWARE DEVELOPMENT</a>

                    <div class="mega-menu fadeIn animated">
                        <div class="mm-3column">
                            <span class="categories-list">
							    <ul>
							    <span>PLAN</span>
								    <a href="#"><li>Consulting / Strateg</li></a>
								    <a href="#"><li>Brand Identity</li></a>
								    <a href="#"><li>Design & User Experience</li></a>
							    </ul>
						    </span>
                        </div>

                        <div class="mm-3column">
						    <span class="categories-list">
						        <ul>
							    <span>BUILD</span>
                                    <a href="#"><li>Website Development</li></a>
                                    <a href="#"><li>Platform Integration</li></a>
                                    <a href="#"><li>Marketplace</li></a>
                                    <a href="#"><li>Third Party</li></a>
                                    <a href="#"><li>Google Analytics</li></a>
							    </ul>
						    </span>
                        </div>

                        <div class="mm-3column">
                            <span class="categories-list">
						    <ul>
							<span>SUPPORT</span>
							    <a href="#"><li>Consulting / Strategy</li></a>
							    <a href="#"><li>Managed Hosting</li></a>
							    <a href="#"><li>Design & User Experience</li></a>
							    <a href="#"><li>Website Development</li></a>
						    </ul>
					        </span>
                        </div>
                    </div>

                </li>
                <!--END: category-->


                <li><a href="#">OUR WORK</a></li>
                <li><a href="#">PARTNERS</a></li>
                <li><a href="#">NEWS/BLOG</a></li>
                <li><a href="#">CONTACT</a></li>

                <li style="float:right;"><a href="#"><img src="img/header_cup.png" alt=""/>Fancy a Cuppa?</a></li>

            </ul>
        </nav>
    </div>
</section>
