<section class="header">
    <!--mobile-view -->
    <div class="xs-menu-cont">
        <a id="menutoggle"><i class="fa fa-align-justify"></i> </a>
        <nav class="xs-menu displaynone">
            <ul>
                <li class=""><a href="#">WHY US? </a></li>
                <li><a href="#">E-COMMERCE <span class="header_arrow"></span> </a></li>
                <li><a href="#">DIGITAL MARKETING <span class="header_arrow"></span> </a></li>
                <li><a href="#">SOFTWARE DEVELOPMENT <span class="header_arrow"></span> </a></li>
                <li><a href="#">OUR WORK</a></li>
                <li><a href="#">PARTNERS</a></li>
                <li><a href="#">NEWS/BLOG</a></li>
                <li><a href="#">CONTACT</a></li>
            </ul>
        </nav>
    </div>

    <nav class="menu text-center">
        <div class="background-transparent"></div>
        <div class="active bm_logo_li"><img class="bm_logo" src="img/bm_logo.png" alt=""/></div>
        <ul>
            <li class="drop-down"><a class="header_title" href="#">WHY US?</a></li>
            <!--START: category-->
            <li class="drop-down ecommerce"><a class="header_title" href="#">E-COMMERCE <span class="header_arrow ecommerce"></span> </a>

                <!-- style="display: block" -->
                <div class="mega-menu ecommerce fadeIn animated">
                    <div class="mega_left">
                        <div class="mm-3column">
                            <span class="categories-list">
							    <ul class="ul_first">
							    <div class="subtitle">PLAN1 </div>
								    <li><a href="#"><span class="li_arrow"></span>Consulting / Strateg</a></li>
								    <li><a href="#"><span class="li_arrow"></span>Brand Identity</a></li>
								    <li><a href="#"><span class="li_arrow"></span>Design & User Experience</a></li>
							    </ul>
						    </span>
                        </div>

                        <div class="mm-3column">
						    <span class="categories-list">
						        <ul>
							    <div class="subtitle">BUILD</div>
                                    <li><a href="#"><span class="li_arrow"></span>Website Development</a></li>
                                    <li><a href="#"><span class="li_arrow"></span>Platform Integration</a></li>
                                    <li><a href="#"><span class="li_arrow"></span>Marketplace</a></li>
                                    <li><a href="#"><span class="li_arrow"></span>Third Party</a></li>
                                    <li><a href="#"><span class="li_arrow"></span>Google Analytics</a></li>
							    </ul>
						    </span>
                        </div>

                        <div class="mm-3column">
						    <span class="categories-list">
						        <ul>
							    <div class="subtitle">SUPPORT</div>
                                    <li><a href="#"><span class="li_arrow"></span>Consulting / Strategy</a></li>
                                    <li><a href="#"><span class="li_arrow"></span>Managed Hosting</a></li>
                                    <li><a href="#"><span class="li_arrow"></span>Design & User Experience</a></li>
                                    <li><a href="#"><span class="li_arrow"></span>Website Development</a></li>
							    </ul>
						    </span>
                        </div>

                        <div class="mm-3column fourth ">
                            <span class="categories-list">
						    <ul>
							<span>"99% of online business fail dut to lack of support and a badly designed website"</span>
							    <a href="#" class="btn btn-circle-white"> REQUEST A QUOTE</a>
                                &nbsp;or Call us <b style="font-weight: 600;">0207 607 6417</b>
						    </ul>
					        </span>
                        </div>
                    </div>
                </div>
            </li>

            <!--START: category-->
            <li class="drop-down digital"><a class="header_title" href="#">DIGITAL MARKETING <span class="header_arrow digital"></span></a>

                <!-- style="display: block" -->
                <div class="mega-menu digital fadeIn animated">
                    <div class="mega_left">
                        <div class="mm-3column">
                            <span class="categories-list">
							    <ul class="ul_first">
							    <div class="subtitle">PLAN2 </div>
								    <li><a href="#"><span class="li_arrow"></span>Consulting / Strateg</a></li>
								    <li><a href="#"><span class="li_arrow"></span>Brand Identity</a></li>
								    <li><a href="#"><span class="li_arrow"></span>Design & User Experience</a></li>
							    </ul>
						    </span>
                        </div>

                        <div class="mm-3column">
						    <span class="categories-list">
						        <ul>
							    <div class="subtitle">BUILD</div>
                                    <li><a href="#"><span class="li_arrow"></span>Website Development</a></li>
                                    <li><a href="#"><span class="li_arrow"></span>Platform Integration</a></li>
                                    <li><a href="#"><span class="li_arrow"></span>Marketplace</a></li>
                                    <li><a href="#"><span class="li_arrow"></span>Third Party</a></li>
                                    <li><a href="#"><span class="li_arrow"></span>Google Analytics</a></li>
							    </ul>
						    </span>
                        </div>

                        <div class="mm-3column">
						    <span class="categories-list">
						        <ul>
							    <div class="subtitle">SUPPORT</div>
                                    <li><a href="#"><span class="li_arrow"></span>Consulting / Strategy</a></li>
                                    <li><a href="#"><span class="li_arrow"></span>Managed Hosting</a></li>
                                    <li><a href="#"><span class="li_arrow"></span>Design & User Experience</a></li>
                                    <li><a href="#"><span class="li_arrow"></span>Website Development</a></li>
							    </ul>
						    </span>
                        </div>

                        <div class="mm-3column fourth ">
                            <span class="categories-list">
						    <ul>
							<span>"99% of online business fail dut to lack of support and a badly designed website"</span>
							    <a href="#" class="btn btn-circle-white"> REQUEST A QUOTE</a>
                                &nbsp;or Call us <b style="font-weight: 600;">0207 607 6417</b>
						    </ul>
					        </span>
                        </div>
                    </div>
                </div>

            </li>

            <!--START: category-->
            <li class="drop-down soft"><a class="header_title" href="#">SOFTWARE DEVELOPMENT <span class="header_arrow soft"></span></a>

                <!-- style="display: block" -->
                <div class="mega-menu soft fadeIn animated">
                    <div class="mega_left">
                        <div class="mm-3column">
                            <span class="categories-list">
							    <ul class="ul_first">
							    <div class="subtitle">PLAN3 </div>
								    <li><a href="#">Consulting / Strateg</a></li>
								    <li><a href="#">Brand Identity</a></li>
								    <li><a href="#">Design & User Experience</a></li>
							    </ul>
						    </span>
                        </div>

                        <div class="mm-3column">
						    <span class="categories-list">
						        <ul>
							    <div class="subtitle">BUILD</div>
                                    <li><a href="#">Website Development</a></li>
                                    <li><a href="#">Platform Integration</a></li>
                                    <li><a href="#">Marketplace</a></li>
                                    <li><a href="#">Third Party</a></li>
                                    <li><a href="#">Google Analytics</a></li>
							    </ul>
						    </span>
                        </div>

                        <div class="mm-3column">
						    <span class="categories-list">
						        <ul>
							    <div class="subtitle">SUPPORT</div>
                                    <li><a href="#">Consulting / Strategy</a></li>
                                    <li><a href="#">Managed Hosting</a></li>
                                    <li><a href="#">Design & User Experience</a></li>
                                    <li><a href="#">Website Development</a></li>
							    </ul>
						    </span>
                        </div>

                        <div class="mm-3column fourth ">
                            <span class="categories-list">
						    <ul>
							<span>"99% of online business fail dut to lack of support and a badly designed website"</span>
							    <a href="#" class="btn btn-circle-white"> REQUEST A QUOTE</a>
                                &nbsp;or Call us <b style="font-weight: 600;">0207 607 6417</b>
						    </ul>
					        </span>
                        </div>
                    </div>
                </div>

            </li>
            <!--END: category-->


            <li><a class="header_title" href="#">OUR WORK</a></li>
            <li><a class="header_title" href="#">PARTNERS</a></li>
            <li><a class="header_title" href="#">NEWS/BLOG</a></li>
            <li><a class="header_title" href="#">CONTACT</a></li>
        </ul>
        <div style="float:right;" id="cuppa_li">
            <a href="#">
                <img id="header_cup" src="img/header_cup.png" alt=""/>
                <div id="cuppa">Fancy a Cuppa?</div>
            </a>
        </div>
    </nav>
    <!--</div>-->
</section>
