<section class="header">
    <!--mobile-view -->
    <div class="xs-menu-cont">
        <a id="menutoggle"><i class="fa fa-align-justify"></i> </a>
        <nav class="xs-menu displaynone">
            <ul>
                <li class=""><a href="#">WHY US?  </a></li>
                <li><a href="#">E-COMMERCE <span class="header_arrow"></span>  </a></li>
                <li><a href="#">DIGITAL MARKETING <span class="header_arrow"></span>  </a></li>
                <li><a href="#">SOFTWARE DEVELOPMENT <span class="header_arrow"></span> </a></li>
                <li><a href="#">OUR WORK</a></li>
                <li><a href="#">PARTNERS</a></li>
                <li><a href="#">NEWS/BLOG</a></li>
                <li><a href="#">CONTACT</a></li>
            </ul>
        </nav>
    </div>

    <nav class="menu text-center">
        <div class="background-transparent"></div>
        <ul>
            <li class="active bm_logo_li"><img class="bm_logo" src="img/bm_logo.png" alt=""/></li>
            <li class="drop-down"><a href="#">WHY US?</a></li>
            <!--START: category-->
            <li class="drop-down ecommerce"><a href="#">E-COMMERCE <span class="header_arrow ecommerce"></span> </a>

                <!-- style="display: block" -->
                <div class="mega-menu ecommerce fadeIn animated">
                    <div class="mega_left">
                        <div class="mm-3column">
                            <span class="categories-list">
							    <ul class="ul_first">
							    <span>PLAN1 </span>
								    <a href="#"><li><span class="li_arrow"></span>Consulting / Strateg</li></a>
								    <a href="#"><li><span class="li_arrow"></span>Brand Identity</li></a>
								    <a href="#"><li><span class="li_arrow"></span>Design & User Experience</li></a>
							    </ul>
						    </span>
                        </div>

                        <div class="mm-3column">
						    <span class="categories-list">
						        <ul>
							    <span>BUILD</span>
                                    <a href="#"><li><span class="li_arrow"></span>Website Development</li></a>
                                    <a href="#"><li><span class="li_arrow"></span>Platform Integration</li></a>
                                    <a href="#"><li><span class="li_arrow"></span>Marketplace</li></a>
                                    <a href="#"><li><span class="li_arrow"></span>Third Party</li></a>
                                    <a href="#"><li><span class="li_arrow"></span>Google Analytics</li></a>
							    </ul>
						    </span>
                        </div>

                        <div class="mm-3column">
						    <span class="categories-list">
						        <ul>
							    <span>SUPPORT</span>
                                    <a href="#"><li><span class="li_arrow"></span>Consulting / Strategy</li></a>
                                    <a href="#"><li><span class="li_arrow"></span>Managed Hosting</li></a>
                                    <a href="#"><li><span class="li_arrow"></span>Design & User Experience</li></a>
                                    <a href="#"><li><span class="li_arrow"></span>Website Development</li></a>
							    </ul>
						    </span>
                        </div>

                        <div class="mm-3column fourth ">
                            <span class="categories-list">
						    <ul>
							<span>"90% of fashion retailers fail in their first year in business"</span>
							    <a href="#" class="btn btn-circle-white"> REQUEST A QUOTE</a>
                                &nbsp;or Call us <b style="font-weight: 600;">0207 607 6417</b>
						    </ul>
					        </span>
                        </div>
                    </div>
                </div>
            </li>

            <!--START: category-->
            <li class="drop-down digital"><a href="#">DIGITAL MARKETING <span class="header_arrow digital"></span></a>

                <!-- style="display: block" -->
                <div class="mega-menu digital fadeIn animated">
                    <div class="mega_left">
                        <div class="mm-3column">
                            <span class="categories-list">
							    <ul class="ul_first">
							    <span>PLAN2 </span>
								    <a href="#"><li><span class="li_arrow"></span>Consulting / Strateg</li></a>
								    <a href="#"><li><span class="li_arrow"></span>Brand Identity</li></a>
								    <a href="#"><li><span class="li_arrow"></span>Design & User Experience</li></a>
							    </ul>
						    </span>
                        </div>

                        <div class="mm-3column">
						    <span class="categories-list">
						        <ul>
							    <span>BUILD</span>
                                    <a href="#"><li><span class="li_arrow"></span>Website Development</li></a>
                                    <a href="#"><li><span class="li_arrow"></span>Platform Integration</li></a>
                                    <a href="#"><li><span class="li_arrow"></span>Marketplace</li></a>
                                    <a href="#"><li><span class="li_arrow"></span>Third Party</li></a>
                                    <a href="#"><li><span class="li_arrow"></span>Google Analytics</li></a>
							    </ul>
						    </span>
                        </div>

                        <div class="mm-3column">
						    <span class="categories-list">
						        <ul>
							    <span>SUPPORT</span>
                                    <a href="#"><li><span class="li_arrow"></span>Consulting / Strategy</li></a>
                                    <a href="#"><li><span class="li_arrow"></span>Managed Hosting</li></a>
                                    <a href="#"><li><span class="li_arrow"></span>Design & User Experience</li></a>
                                    <a href="#"><li><span class="li_arrow"></span>Website Development</li></a>
							    </ul>
						    </span>
                        </div>

                        <div class="mm-3column fourth ">
                            <span class="categories-list">
						    <ul>
							<span>90% of fashion retailers fail in their first year in business</span>
							    <a href="#" class="btn btn-circle-white"> REQUEST A QUOTE</a>
                                &nbsp;or Call us <b style="font-weight: 600;">0207 607 6417</b>
						    </ul>
					        </span>
                        </div>
                    </div>
                </div>

            </li>

            <!--START: category-->
            <li class="drop-down soft"><a href="#">SOFTWARE DEVELOPMENT <span class="header_arrow soft"></span></a>

                <!-- style="display: block" -->
                <div class="mega-menu soft fadeIn animated">
                    <div class="mega_left">
                        <div class="mm-3column">
                            <span class="categories-list">
							    <ul class="ul_first">
							    <span>PLAN3 </span>
								    <a href="#"><li>Consulting / Strateg</li></a>
								    <a href="#"><li>Brand Identity</li></a>
								    <a href="#"><li>Design & User Experience</li></a>
							    </ul>
						    </span>
                        </div>

                        <div class="mm-3column">
						    <span class="categories-list">
						        <ul>
							    <span>BUILD</span>
                                    <a href="#"><li>Website Development</li></a>
                                    <a href="#"><li>Platform Integration</li></a>
                                    <a href="#"><li>Marketplace</li></a>
                                    <a href="#"><li>Third Party</li></a>
                                    <a href="#"><li>Google Analytics</li></a>
							    </ul>
						    </span>
                        </div>

                        <div class="mm-3column">
						    <span class="categories-list">
						        <ul>
							    <span>SUPPORT</span>
                                    <a href="#"><li>Consulting / Strategy</li></a>
                                    <a href="#"><li>Managed Hosting</li></a>
                                    <a href="#"><li>Design & User Experience</li></a>
                                    <a href="#"><li>Website Development</li></a>
							    </ul>
						    </span>
                        </div>

                        <div class="mm-3column fourth ">
                            <span class="categories-list">
						    <ul>
							<span>90% of fashion retailers fail in their first year in business</span>
							    <a href="#" class="btn btn-circle-white"> REQUEST A QUOTE</a>
                                &nbsp;or Call us <b style="font-weight: 600;">0207 607 6417</b>
						    </ul>
					        </span>
                        </div>
                    </div>
                </div>

            </li>
            <!--END: category-->


            <li><a href="#">OUR WORK</a></li>
            <li><a href="#">PARTNERS</a></li>
            <li><a href="#">NEWS/BLOG</a></li>
            <li><a href="#">CONTACT</a></li>

            <li style="float:right;" id="cuppa_li">
                <a href="#">
                    <img id="header_cup" src="img/header_cup.png" alt=""/>
                    <div id="cuppa">Fancy a Cuppa?</div>
                </a>
            </li>

        </ul>
    </nav>
    <!--</div>-->
</section>
