<section class="latest">
    <div class="">
        <div class="row align-items-center">
            <div class="title container text-center">
                <h1>LATEST WORK</h1>
                <div>Securing visitors' trust is paramount when selling luxury goods online. We have developed tried and tested methods for accruing credibility
                </div>
            </div>
            <div class="main_div-right ">
                <div class="container "><!--slick-->

                    <div class="blocks row top4_carousel">
                        <div class="block text-center col-3">
                            <img src="img/news-ship_bg.png">
                            <div class="block__body text-center">
                                <a href="#" class="">
                                    <img src="img/latest-boss_logo.png">
                                    <div>View Case</div>
                                </a>
                            </div>
                        </div><!-- .block -->
                        <div class="block text-center col-3">
                            <img src="img/news-ship_bg.png">
                            <div class="block__body text-center">
                                <a href="#" class="">
                                    <img src="img/latest-boss_logo.png">
                                    <div>View Case </div>
                                </a>
                            </div>
                        </div><!-- .block -->
                        <div class="block text-center col-3">
                            <img src="img/news-ship_bg.png">
                            <div class="block__body text-center">
                                <a href="#" class="">
                                    <img src="img/latest-boss_logo.png">
                                    <div>View Case</div>
                                </a>
                            </div>
                        </div><!-- .block -->
                        <div class="block text-center col-3">
                            <img src="img/news-ship_bg.png">
                            <div class="block__body text-center">
                                <a href="#" class="">
                                    <img src="img/latest-boss_logo.png">
                                    <div>View Case</div>
                                </a>
                            </div>
                        </div><!-- .block -->
                    </div>

                    <div class="blocks top4_carousel">
                        <div class="block text-center col-3">
                            <img src="img/news-ship_bg.png">
                            <div class="block__body text-center">
                                <a href="#" class="">
                                    <img src="img/latest-boss_logo.png">
                                    <div>View Case</div>
                                </a>
                            </div>
                        </div><!-- .block -->
                        <div class="block text-center col-3">
                            <img src="img/news-ship_bg.png">
                            <div class="block__body text-center">
                                <a href="#" class="">
                                    <img src="img/latest-boss_logo.png">
                                    <div>View Case</div>
                                </a>
                            </div>
                        </div><!-- .block -->
                        <div class="block text-center col-3">
                            <img src="img/news-ship_bg.png">
                            <div class="block__body text-center">
                                <a href="#" class="">
                                    <img src="img/latest-boss_logo.png">
                                    <div>View Case</div>
                                </a>
                            </div>
                        </div><!-- .block -->
                        <div class="block text-center col-3">
                            <img src="img/news-ship_bg.png">
                            <div class="block__body text-center">
                                <a href="#" class="">
                                    <img src="img/latest-boss_logo.png">
                                    <div>View Case</div>
                                </a>
                            </div>
                        </div><!-- .block -->
                    </div>
                    <!--slick-->
                </div>
            </div>
        </div>
    </div>
</section>