<section class="news">
    <div class="container">
        <div class="investing_title text-center row align-items-center">
            <h1>MAGENTO & WOO-COMMERCE EXPERTS</h1>
            <p>We are specialist in development beautiful pants and securing visitors' trust is paramount when selling luxury goods online. We have developed tried and tested methods for accruing credibility.</p>
        </div>
        <div class="container news_title text-center">
            <ul class="row news_logo align-items-center justify-content-center">
                <li class="col"><a href="#"><img src="./img/magento-m1.png"></a></li>
                <li class="col"><a href="#"><img src="./img/magento-m1.png"></a></li>
                <li class="col"><a href="#"><img src="./img/magento-m1.png"></a></li>
                <li class="col"><a href="#"><img src="./img/magento-m1.png"></a></li>
                <li class="col"><a href="#"><img src="./img/magento-m1.png"></a></li>
            </ul>
        </div>
    </div>
</section>