<section class="magento">
    <div class="container">
        <div class="top4_title text-center row align-items-center">
            <h1>MAGENTO & WOO-COMMERCE EXPERTS</h1>
            <p class="magento_p">We are specialist in development beautiful pants and securing visitors' trust is paramount when selling luxury goods online. We have developed tried and tested methods for accruing credibility.</p>
        </div>
        <div class="container news_title text-center">
            <ul class="row magento_logo align-items-center justify-content-center">
                <li class="col"><a href="#"><img class="img_m1" src="./img/magento-m1.png"></a></li>
                <li class="col"><a href="#"><img class="img_m2" src="./img/magento-m2.png"></a></li>
                <li class="col"><a href="#"><img class="img_m3" src="./img/magento-m3.png"></a></li>
                <li class="col"><a href="#"><img class="img_w1" src="./img/magento-woo.png"></a></li>
                <li class="col"><a href="#"><img class="img_w2" src="./img/mageneto-wordpress.png"></a></li>
            </ul>
        </div>
    </div>
</section>