<section class="most_loved" id="platform_features_control">
    <div class="container">
        <figure class="most_loved-carousel">
            <figure>
                <img class="img-fluid" src="./img/most_loved/carousel-most-loved-1.jpg">
            </figure>
            <figure>
                <img class="img-fluid" src="./img/most_loved/carousel-most-loved-2.jpg">
            </figure>
        </figure>
    </div>
</section>