<section class="news">
    <div class="news_title container text-center">
        <h1>FEATURED NEWS</h1>
    </div>
    <!--slick-->
    <div class="card_carousel">
        <div class="card">
            <a href="#"><img class="card-img-top img-fluid" src="img/news-ship_bg.png"></a>
            <div class="card-block">
                <h4 class="card-title">Cutting edge website design</h4>
                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                <a class="read_more card-text float-right" href="#"> Read more <span id="arrow-blue"> > </span></a>
            </div>
        </div>
        <div class="card">
            <a href="#"><img class="card-img-top img-fluid" src="img/news-ship_bg.png"></a>
            <div class="card-block">
                <h4 class="card-title">Cutting edge website design</h4>
                <p class="card-text">JLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                <a class="read_more card-text float-right" href="#"> Read more <span id="arrow-blue"> > </span></a>
            </div>
        </div>
        <div class="card">
            <a href="#"><img class="card-img-top img-fluid" src="img/news-ship_bg.png"></a>
            <div class="card-block">
                <h4 class="card-title">Cutting edge website design</h4>
                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                <a class="read_more card-text float-right" href="#"> Read more <span id="arrow-blue"> > </span></a>
            </div>
        </div>
        <div class="card">
            <a href="#"><img class="card-img-top img-fluid" src="img/news-ship_bg.png"></a>
            <div class="card-block">
                <h4 class="card-title">Cutting edge website design</h4>
                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the industry's standard dummy text ever since the 1500s. </p>
                <a class="read_more card-text float-right" href="#"> Read more <span id="arrow-blue"> > </span></a>
            </div>
        </div>
    </div>
    <!--slick-->
</section>