<section class="results" id="platform_features_control">
    <div class="container">
        <h1>results</h1>
        <div class="static_carousel">
            <img src="./img/results/result1.jpg"/>
            <img src="./img/results/result2.jpg"/>
            <img src="./img/results/result3.jpg"/>
        </div>
        <article class="text">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aspernatur consectetur culpa deleniti
                earum esse et eum</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo fugit inventore ipsum natus nemo
                quibusdam tempore voluptates? Asperiores at, cupiditate debitis dolores, expedita, impedit itaque odio
                perspiciatis quo velit veniam perspiciatis quo velit veniam.</p>
        </article>
        <figure class="img">
            <img class="telegraph" src="./img/results/telegraph.png">
        </figure>
    </div>
</section>