<section class="service">
    <div class="container" id="conference-timeline">
        <div class="title text-center">
            <h2>SERVICES WE PROVIDE</h2>
            <div >We are specialist in development beautiful pants and securing visitors' trust is paramount when selling
                luxury goods online. We have developed tried and tested methods for accruing credibility.
            </div>
        </div>
        <div class="conference-center-line"></div>
        <div class="conference-timeline-content">
            <!-- Article -->
            <div class="timeline-article">
                <div class="content-left-container">
                    <div class="content-left">
                        <div class="service_title">E-COMMERCE STRATEGY & PLANNING</div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type specimen book. It has survived not only five
                            centuries.
                            <span class="article-number">img1</span>
                        </p>
                        <p><a href="#">LEARN MORE</a></p>
                    </div>
                </div>
                <div class="content-right-container">
                    <div class="content-right">
                        <div class="service_title">DESIGN & UX</div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type specimen book. It has survived not only five
                            centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                            <span class="article-number">img2</span>
                        </p>
                        <p><a href="#">LEARN MORE</a></p>
                    </div>
                </div>
                <div class="meta-date">
                    <span class="date">img</span>
                </div>
            </div>
            <!-- // Article -->

            <!-- Article -->
            <div class="timeline-article">
                <div class="content-left-container">
                    <div class="content-left">
                        <div class="service_title">MAGENTO & WOO-COMMERCE DEVELOPMENT</div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lore m Ipsum has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type specimen book. It has survived not only five
                            centuries, but also the leap into electronic typesetting.
                            <span class="article-number">img3</span>
                        </p>
                        <p><a href="#">LEARN MORE</a></p>
                    </div>
                </div>
                <div class="content-right-container">
                    <div class="content-right">
                        <div class="service_title">MARKETPLACE INTEGRATION</div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type specimen book. It has survived not only five
                            centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                            <span class="article-number">img4</span>
                        </p>
                        <p><a href="#">LEARN MORE</a></p>
                    </div>
                </div>
                <div class="meta-date">
                    <span class="date">img</span>
                    <!--<span class="month"></span>-->
                </div>
            </div>
            <!-- // Article -->


            <!-- Article -->
            <div class="timeline-article">
                <div class="content-left-container">
                    <div class="content-left">
                        <div class="service_title">DIGITAL MARKETING</div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type specimen book. It has survived not only five
                            centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                            <span class="article-number">img5</span>
                        </p>
                        <p><a href="#">LEARN MORE</a></p>
                    </div>
                </div>
                <div class="content-right-container">
                    <div class="content-right">
                        <div class="service_title">MOBILE APPLICATIONS</div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type specimen book. It has survived not only five
                            centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                            <span class="article-number">img6</span>
                        </p>
                        <p><a href="#">LEARN MORE</a></p>
                    </div>
                </div>
                <div class="meta-date">
                    <span class="date">img</span>
                </div>
            </div>
        </div>
</section>