<section class="strategy" id="scroll2">
    <div class="container">
        <div class="strategy_title text-center">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias asperiores dicta eaque eius eligendi
                error esse est illum magnam molestias quisquam reprehenderit sint soluta, unde ut velit, vitae
                voluptatem!</p>
        </div>

        <div class="strategy_card row top4_carousel">
            <div class="card col-sm-6 text-center card-block border-0 feature-col">
                <img class="" src="./img/strategy/website.png"/>
                <h4>Website Design & Build</h4>
            </div>
            <div class="card col-sm-6 text-center card-block border-0 feature-col">
                <div class="img_box">
                    <img class="" src="./img/strategy/ecommerce.png"/></div>
                <h4>Ecommerce</h4>
            </div>
            <div class="card col-sm-6 text-center card-block border-0 feature-col">
                <div class="img_box">
                    <img class="" src="./img/strategy/strategy.png"/></div>
                <h4>Strategy & Planning</h4>
            </div>
            <div class="card col-sm-6 text-center card-block border-0 feature-col">
                <div class="img_box">
                    <img class="" src="./img/strategy/ux.png"/></div>
                <h4>User Experience & User interface</h4>
            </div>
            <div class="card col-sm-6 text-center card-block border-0 feature-col">
                <div class="img_box">
                    <img class="" src="./img/strategy/crm.png"/></div>
                <h4>CRM</h4>
            </div>
        </div>
    </div>
</section>