<section class="testimonial" id="platform_features_control">
    <div class="feature_carousel">
        <div class="row align-items-center">
            <div class="main_div-left float-left col col-lg-5 col-12 ">
                <span class=""><b>Adam Badini</b> from Otherland Inc.</span>
                <h2 class="title">An exceptional software was developed by Be Mememorable</h2>
                <div class="body">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.
                </div>
                <div>
                    <a class="footer try" href="#">View Case Studies <span> | </span></a><a class="footer try" href="#">Play video</a>
                </div>
            </div>
            <div class="main_div-right float-right col col-lg-6 col-12">
                <img class="img-fluid" src="img/testimonial-person.png">
            </div>
        </div>

        <div class="row align-items-center">
            <div class="main_div-left float-left col col-lg-5 col-12">
                <span class=""><b>Adam Badini</b> from Otherland Inc.</span>
                <h2 class="title">An exceptional software was developed by Be Mememorable</h2>
                <div class="body">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.
                </div>
                <div>
                    <a class="footer try" href="#">View Case Studies <span> | </span></a><a class="footer try" href="#">Play video</a>
                </div>            </div>
            <div class="main_div-right float-right col col-lg-6 col-12"><img class="img-fluid" src="img/testimonial-person.png">
            </div>
        </div>

        <div class="row align-items-center">
            <div class="main_div-left float-left col col-lg-5 col-12">
                <span class=""><b>Adam Badini</b> from Otherland Inc.</span>
                <h2 class="title">An exceptional software was developed by Be Mememorable</h2>
                <div class="body">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.
                </div>
                <div>
                    <a class="footer try" href="#">View Case Studies  <span> | </span></a><a class="footer try" href="#">Play video</a>
                </div>            </div>
            <div class="main_div-right float-right col col-lg-6 col-12"><img class="img-fluid" src="img/testimonial-person.png">
            </div>
        </div>
    </div>
</section>