<section class="investing">
    <div class="container">
        <div class="investing_title row align-items-center">
            <h1>Top 4 criteria for choosing an E-commerce Agency</h1>
        </div>
        <div class="investing_card row align-items-center impact_carousel">
            <div class="card text-center card-block border-0 feature-col col-lg-3">
                <div><img src="./img/top-best.png"/></div>
                <h5>Business Understanding</h5>
                <p>Securing visitors' trust is paramount when selling luxury goods online. We have developed tried and tested methods for accruing credibility.</p>
                <a href="#" class="learn_more">See for yourself &raquo;</a>
            </div>
            <div class="card text-center card-block border-0 feature-col col-lg-3">
                <div><img src="./img/top-best.png"/></div>
                <h5>Business Understanding</h5>
                <p>Securing visitors' trust is paramount when selling luxury goods online. We have developed tried and tested methods for accruing credibility.</p>
                <a href="#" class="learn_more">See for yourself &raquo;</a>
            </div>
            <div class="card text-center card-block border-0 feature-col col-lg-3">
                <div><img src="./img/top-best.png"/></div>
                <h5>Business Understanding</h5>
                <p>Securing visitors' trust is paramount when selling luxury goods online. We have developed tried and tested methods for accruing credibility.</p>
                <a href="#" class="learn_more">See for yourself &raquo;</a>
            </div>
            <div class="card text-center card-block border-0 feature-col col-lg-3">
                <div><img src="./img/top-best.png"/></div>
                <h5>Business Understanding</h5>
                <p>Securing visitors' trust is paramount when selling luxury goods online. We have developed tried and tested methods for accruing credibility.</p>
                <a href="#" class="learn_more">See for yourself &raquo;</a>
            </div>

        </div>
    </div>
</section>