<section class="top4" id="scroll2">
    <div class="">
        <div class="top4_title row align-items-center">
            <h1>Top 4 criteria for choosing an E-commerce Agency</h1>
        </div>
        <div class="top4_card row align-items-center impact_carousel">
            <div class="card text-center card-block border-0 feature-col col-lg-3">
                <div class="img_box"><img class="top-business" src="./img/top-business.png"/></div>
                <h5>Business Understanding</h5>
                <p>Securing visitors' trust is paramount when selling luxury goods online. We have developed tried and tested methods for accruing credibility.</p>
                <a href="#" class="learn_more">See for yourself &raquo;</a>
            </div>
            <div class="card text-center card-block border-0 feature-col col-lg-3">
                <div class="img_box"><img class="top-tech" src="./img/top-tech.png"/></div>
                <h5>Technical Skills</h5>
                <p>Securing visitors' trust is paramount when selling luxury goods online. We have developed tried and tested methods for accruing credibility.</p>
                <a href="#" class="learn_more">Which skills &raquo;</a>
            </div>
            <div class="card text-center card-block border-0 feature-col col-lg-3">
                <div class="img_box"><img class="top-best" src="./img/top-best.png"/></div>
                <h5>Best Practice</h5>
                <p>Securing visitors' trust is paramount when selling luxury goods online. We have developed tried and tested methods for accruing credibility.</p>
                <a href="#" class="learn_more">Everything else &raquo;</a>
            </div>
            <div class="card text-center card-block border-0 feature-col col-lg-3">
                <div class="img_box"><img class="top-track" src="./img/top-track.png"/></div>
                <h5>Track Record</h5>
                <p>Securing visitors' trust is paramount when selling luxury goods online. We have developed tried and tested methods for accruing credibility.</p>
                <a href="#" class="learn_more">This is what &raquo;</a>
            </div>

        </div>
    </div>
</section>