@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600,700,800");
body {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  display: block;
  word-wrap: break-word;
}

section {
  font-size: 0.9rem;
}

h1 {
  font-weight: 700;
  font-size: 2.4em;
  margin-bottom: 0.8rem;
  margin: 0 auto;
}

p {
  font-weight: 400;
  font-size: 1rem;
}

button:focus {
  outline: 0;
}

a:focus, a:hover, .card.slick-slide {
  color: white;
  outline: 0 !important;
}

.img-fluid {
  min-width: 100%;
}

.platform_features div {
  font-size: 1rem;
  margin: 0 auto;
  font-weight: 400;
}

.navbar-light .navbar-toggler {
  border-color: transparent;
  margin-top: 15px;
}

.btn-circle-blue {
  background-color: #3399ff;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #fff;
  width: 214px;
  height: 40px;
  font-size: 0.8rem;
  border-radius: 50px;
  cursor: pointer;
  line-height: 1.3rem;
}

.btn-circle-red {
  background-color: #b11f37;
  font-weight: 600;
  color: #fff;
  width: 170px;
  height: 40px;
  font-size: 0.8rem;
  border-radius: 50px;
  cursor: pointer;
  line-height: 1.3rem;
  margin: 0 auto;
  display: block;
}

.btn-circle-red:hover {
  background-color: #3399ff;
  color: #fff;
}

.btn-circle-blue:hover {
  background-color: #b11f37;
  color: #fff;
}

.btn-circle-white {
  background-color: #fff;
  font-weight: 600;
  font-size: 0.8rem;
  color: #3399ff;
  width: 214px;
  height: 40px;
  padding: 6px 19px;
  border-radius: 50px;
  cursor: pointer;
  line-height: 0;
}

.btn-circle-white_txtRed {
  background-color: #fff;
  font-weight: 600;
  font-size: 0.8rem;
  color: #b11f37;
  width: 214px;
  height: 40px;
  padding: 6px 19px;
  border-radius: 50px;
  cursor: pointer;
  line-height: 0;
}

.small_arrow_left {
  position: absolute;
  top: 178px;
  left: 30px;
  width: 20px;
  height: 20px;
  background: url(../img/icon/arrow_left_lg.svg) no-repeat;
}

.card {
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
  margin-bottom: 10px;
  margin-right: 25px;
  margin-left: 25px;
}

.learn_more:before {
  content: " ";
  background: url(../img/icon/red_arrow.png) no-repeat;
  background-position: bottom;
  display: inline-block;
  width: 15px;
  height: 15px;
}

.platform_features .main_div-left .footer:before {
  content: " ";
  background: url(../img/icon/arrow_sm_left_white.png) no-repeat;
  background-position: bottom;
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.news a.read_more:before,
.product .main_div-right .footer:before {
  content: " ";
  background: url(../img/icon/arrow_black_sm_left.png) no-repeat;
  background-position: bottom;
  display: inline-block;
  width: 15px;
  height: 15px;
}

.product .main_div-right .footer:before {
  margin-right: 10px;
}

.product .main_div-left .product_li:before,
.product .main_div-right .product_li:after {
  content: " ";
  background: url(../img/icon/green_arrow.png) no-repeat;
  background-position: bottom;
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 4px;
}

.product .main_div-right .product_li:after {
  float: right;
  margin-top: 20px;
  margin-right: 5px;
}

.quote:before {
  content: " “ ";
  font-family: "Open Sans", sans-serif;
  color: #b11f37;
  font-size: 4em;
  position: absolute;
  top: -80px;
  left: -40px;
  width: 30px;
  height: 30px;
}

.quote:after {
  content: " ” ";
  color: #b11f37;
  font-family: "Open Sans", sans-serif;
  font-size: 4em;
  position: absolute;
}

.slick-dotted.slick-slider {
  padding: 0 15px;
  margin-bottom: 40px;
}

.testimonial .slick-prev.slick-arrow:before {
  content: "";
  background: url(../img/left_arrow-blue.png) no-repeat;
  background-size: 36px;
  width: 50px;
  height: 67px;
  z-index: 999;
}

.testimonial .slick-next.slick-arrow:before {
  content: "";
  background: url(../img/right_arrow-blue.png) no-repeat;
  background-size: 36px;
  width: 50px;
  height: 67px;
  z-index: 999;
}

.slick-prev.slick-arrow, .slick-next.slick-arrow {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 17%;
  height: inherit;
  text-align: center;
  z-index: 999;
}

.slick-dots {
  display: block;
  position: static;
}
.slick-dots li button {
  width: 30px;
  height: 30px;
}
.slick-dots li button:before {
  font-size: 18px;
  margin: 35px 0;
  opacity: 0.2;
  color: white;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  color: white;
}

.impact_carousel .slick-dots li button:before {
  color: #b11f37;
  margin: 20px 0;
}
.impact_carousel .slick-dots li.slick-active button:before {
  opacity: 1;
  color: #b11f37;
}

.news .slick-dots li button:before {
  color: #b11f37;
  margin: 38px 0;
}
.news .slick-dots li.slick-active button:before {
  opacity: 1;
  color: #b11f37;
}

.platform_user .slick-dots li button:before {
  color: #b11f37;
  margin: 20px 0;
}
.platform_user .slick-dots li.slick-active button:before {
  opacity: 1;
  color: #b11f37;
}

.product .slick-dots li button:before {
  color: #b11f37;
  margin: 20px 0;
}
.product .slick-dots li.slick-active button:before {
  opacity: 1;
  color: #b11f37;
}

.card_carousel.slick-slider {
  margin: 40px 0 80px 0;
}

.platform_user .card_carousel.slick-slider {
  margin: 40px 0;
}

.platform_features .slick-dotted.slick-slider {
  padding: 0;
}

.slick-list.draggable {
  max-width: 1200px;
  margin: 0 auto;
}

@media screen and (min-width: 320px) {
  .header {
    position: fixed;
    display: block;
    background: white;
    width: 100%;
    z-index: 1000;
  }
  .header .container {
    padding: 0;
    font-size: 0.8rem;
    text-transform: uppercase;
  }
  .header .container ul.navbar-nav {
    margin: 0 auto;
  }
  .header .container ul.navbar-nav a.nav-link {
    width: fit-content;
    padding: 0;
    margin-right: 3.5em;
    margin-top: 1em;
    color: #333333;
    height: 20px;
  }
  .header .container ul.navbar-nav a.nav-link:hover {
    border-bottom: solid #b11f37 2px;
    color: #333333;
  }
  .header .right_button button {
    font-family: "Open Sans", sans-serif;
    font-size: 0.8rem;
    font-weight: 700;
    margin-left: 30px;
  }
  .header .right_button a {
    color: #333333;
    text-decoration: none;
  }
  .header .right_button a:hover {
    border-bottom: solid #b11f37 2px;
    color: #333333;
  }
  .header .navbar {
    padding: 0.8em 15px;
  }
  .header .navbar .navbar-brand svg {
    width: 50%;
    height: 50%;
  }

  .header .navbar .form-inline {
    display: block;
  }
  .header .navbar .form-inline a {
    display: block;
    margin-top: 1em;
    width: fit-content;
    height: 20px;
  }
  .header .navbar .form-inline button {
    display: block;
    margin: 0 auto;
  }

  .main_banner {
    background: linear-gradient(rgba(41, 128, 184, 0.25), rgba(41, 128, 184, 0.25)), url(../img/main-bg.png) no-repeat;
    background-size: cover;
    max-width: 100vw;
    padding: 200px 0 100px 0;
  }
  .main_banner .main_div-left {
    color: #fff;
  }
  .main_banner .main_div-left h2 {
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 3rem;
  }
  .main_banner .main_div-left p {
    font-weight: 300;
    font-size: 1.1rem;
    padding: 40px 0;
  }
  .main_banner .main_div-right {
    position: relative;
    background-color: green;
    top: -60px;
    right: 0;
  }
  .main_banner .main_div-right img {
    max-width: 100%;
    height: auto;
    display: none;
  }

  .mask {
    background-color: #2980b9;
    opacity: 0.5;
  }

  .product {
    background-color: #f6f7f9;
    padding: 40px 0;
    overflow-x: hidden;
  }
  .product .main_div-left {
    padding: 0 15px;
  }
  .product .main_div-left .card {
    border-radius: 10px;
    margin-right: 0;
    margin-left: 0;
    color: black;
  }
  .product .main_div-left .card .card-block {
    font-weight: 300;
    margin: 0 auto;
    display: block;
    width: fit-content;
    font-size: 1.1rem;
    line-height: 1.5rem;
    margin-bottom: 1.2rem;
  }
  .product .main_div-left .card .card-block .card-img {
    margin: 20px 0;
  }
  .product .main_div-left .card .card-block .card-title {
    font-weight: 300;
  }
  .product .main_div-left .card .card-block .product_card_ul {
    list-style: none;
    padding: 0;
    font-size: 0.8rem;
    margin-bottom: 2rem;
    line-height: 28px;
  }
  .product .main_div-left .card_blue_ribbon {
    background-color: #3399ff;
    color: white;
    font-size: 4em;
    font-weight: 700;
    padding: 48px;
    line-height: 30px;
  }
  .product .main_div-left .card_blue_ribbon span.permonth {
    font-weight: 300;
    font-size: 3rem;
  }
  .product .main_div-left .card_blue_ribbon span.bill {
    font-weight: 300;
    font-size: 0.8rem;
    display: block;
    margin-top: 25px;
  }
  .product .main_div-left .launch_per_month {
    padding: 30px;
  }
  .product .main_div-right {
    padding: 0 15px;
    font-weight: 300;
  }
  .product .main_div-right h2 {
    font-weight: 700;
    width: 400px;
  }
  .product .main_div-right div {
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 300 !important;
    font-size: 1rem;
  }
  .product .main_div-right .product_ul {
    list-style: none;
    padding-left: 0;
  }
  .product .main_div-right .product_ul .product_li {
    font-size: 0.9rem;
    line-height: 3.5rem;
    border-bottom: 1px solid lightgrey;
  }
  .product .main_div-right .product_ul .product_li:first-child {
    border-top: 1px solid lightgrey;
  }
  .product .main_div-right .footer {
    padding: 0;
  }
  .product .main_div-right .footer a {
    color: #292b2c;
  }

  .product .container .row .main_div-right h1 {
    margin-bottom: 0;
  }

  #product_list_upper {
    display: block;
    margin-bottom: 40px;
  }

  #product_list_lower {
    display: none;
  }

  .card.first {
    left: 0;
    height: 39rem;
    top: 14px;
  }
  .card.first img {
    margin: 20px auto;
  }

  .card.second {
    z-index: 999;
    height: 650px;
  }
  .card.second img {
    margin: 20px auto;
  }
  .card.second .card_blue_ribbon {
    padding-bottom: 14px;
    padding-top: 35px;
  }

  .platform_user {
    background-color: #f6f7f9;
    padding-top: 40px;
    padding-bottom: 40px;
    overflow-x: hidden;
  }
  .platform_user .container .title {
    font-weight: 700;
    font-size: 2.3rem;
  }
  .platform_user .container .subtitle {
    margin-bottom: 40px;
  }
  .platform_user .card a {
    text-decoration: none;
  }
  .platform_user .card p.card-text {
    background-color: #3399ff;
    color: white;
    padding: 0.7rem 0;
    font-weight: 400;
    margin-bottom: 0;
  }
  .platform_user .card .card-block {
    width: 300px;
    margin: 0 auto;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 1.4rem;
  }
  .platform_user .card.slick-slide {
    overflow: hidden;
    margin-left: 5px;
    margin-right: 5px;
  }
  .platform_user .card.slick-slide img {
    width: 70%;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
  }

  .investing {
    padding-top: 40px;
    padding-bottom: 40px;
    font-weight: 300;
    overflow-x: hidden;
  }
  .investing .investing_title {
    padding-bottom: 40px;
  }
  .investing .investing_title p {
    font-size: 1.2rem;
    margin-bottom: 0;
    margin-left: 0;
  }
  .investing .investing_card {
    margin: 0 auto;
  }
  .investing .investing_card .card-block {
    border: 0;
    box-shadow: none;
    color: black;
    margin: 0;
    padding: 0;
  }
  .investing .investing_card .card-block img {
    width: 90px;
    height: 90px;
  }
  .investing .investing_card .card-block img:hover {
    -moz-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    transform: rotate(360deg);
  }
  .investing .investing_card .card-block h5 {
    padding: 20px 0;
    font-weight: 600;
  }
  .investing .investing_card .card-block .learn_more {
    color: #b11f37;
  }
  .investing .investing_card .card-block > div {
    width: 64px;
    height: 64px;
  }

  .partners {
    overflow-x: hidden;
    background: #2980b9 url(../img/bg/logo_background_red.png) no-repeat 700px 700px;
  }
  .partners .title {
    color: #fff;
    padding: 0 15px;
    margin: 0;
  }
  .partners .title h2 {
    padding: 20px 0;
    font-weight: 600;
  }
  .partners .title div {
    font-weight: 300;
    margin-bottom: 1.5rem;
    font-size: 1rem;
  }
  .partners .main_div-right .container {
    padding: 0;
  }
  .partners .main_div-right .container .blocks .block__body {
    top: 100%;
    width: inherit;
    height: 333px;
    margin: 0;
  }
  .partners .main_div-right .container .blocks .block {
    position: relative;
    background: #f9f9f9;
    height: 333px;
    padding-left: 0;
    overflow: hidden;
  }
  .partners .main_div-right .container .blocks .block:hover .block__body {
    position: absolute;
    top: 0;
    background: #3399ff;
    color: #fff;
    height: 100%;
    transition: top 0.5s;
    padding: 0;
  }
  .partners .main_div-right .container .blocks .block:hover .block__body h3 {
    color: #fff;
  }
  .partners .main_div-right .container .blocks .block img {
    max-width: 600px;
  }
  .partners .main_div-right .container .blocks .block p {
    margin: 3em;
    font-size: 1rem;
  }
  .partners .main_div-right .container .blocks .block__body a {
    text-decoration: none;
    color: white;
  }
  .partners .main_div-right .container .blocks .block__body a img {
    padding: 5em 1em 1em 1em;
  }

  .partners .container {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .partners .container .slick-dotted.slick-slider {
    padding: 0;
    margin-bottom: 80px;
  }

  .impact {
    padding: 40px 0;
    overflow-x: hidden;
  }
  .impact .container .impact_title {
    margin-bottom: 40px;
  }
  .impact .container .impact_title h1 {
    font-weight: 700;
  }
  .impact .container .impact_card {
    margin: 40px 0 50px 0;
  }
  .impact .container .impact_card .card {
    padding: 0;
    margin: 10px;
    overflow: hidden;
  }
  .impact .container .impact_card .card p {
    font-weight: 300;
    color: black;
    font-size: 0.9em;
    letter-spacing: 3px;
  }
  .impact .container .impact_footer {
    margin-top: 40px;
  }
  .impact .container .impact_footer a {
    text-decoration: none;
  }
  .impact .container .impact_footer a button {
    letter-spacing: 1px;
    width: 200px;
    font-weight: 400;
  }
  .impact .container .impact_footer p {
    margin-top: 1rem;
    font-size: 0.9rem;
  }
  .impact .container .impact_footer p .register_now {
    color: #b11f37;
    font-weight: 700;
  }
  .impact .container .impact_card .card-img-top {
    width: 100%;
    height: auto;
    overflow: hidden;
  }

  .metrics {
    background-color: #3399ff;
    padding: 40px 0 40px 0;
    color: #fff;
    font-weight: 300;
    overflow-x: hidden;
  }
  .metrics .impact_title {
    margin-bottom: 40px;
  }
  .metrics .impact_title h1 {
    font-weight: 600;
  }
  .metrics .background_wrapper {
    background: url(../img/bg/metrics_map.png) no-repeat;
    background-position: center center;
  }
  .metrics .background_wrapper .impact_card {
    margin: 0 auto;
  }
  .metrics .background_wrapper .impact_card .card {
    color: #3399ff;
    border-radius: 0;
    width: inherit;
    margin: 10px auto;
    padding: 20px;
  }
  .metrics .background_wrapper .impact_card .card-block {
    margin: auto;
    padding: 0;
  }
  .metrics .background_wrapper .impact_card .card-block h1.counter {
    font-size: 2em;
  }
  .metrics .background_wrapper .impact_card .card-block p.card-text {
    font-weight: 400;
    font-size: 0.8em;
    letter-spacing: 2px;
  }
  .metrics .background_wrapper .impact_card .card-block #price_count:before {
    content: "£ ";
  }
  .metrics .background_wrapper .impact_card .card-block #price_count:after {
    content: "M";
  }
  .metrics .impact_footer p {
    letter-spacing: 3px;
    font-size: 1em;
    font-weight: 300;
    margin-bottom: 0;
    margin-top: 40px;
  }

  .testimonial {
    padding: 40px 0;
    overflow-x: hidden;
    color: #2980b9;
    background: #e9f2f8 no-repeat;
  }
  .testimonial .main_div-left {
    font-weight: 300 !important;
    margin-top: 150px;
  }
  .testimonial .main_div-left .title {
    padding: 30px 0;
    margin-bottom: 0;
    font-weight: 600;
  }
  .testimonial .main_div-left .body {
    font-weight: 400;
    margin-bottom: 30px;
    font-size: 1rem;
  }
  .testimonial .main_div-left .footer.try {
    padding: 1.5rem 0;
    font-size: 1rem;
    font-weight: 400 !important;
    color: #2980b9;
    text-decoration: none;
    background-color: transparent;
  }
  .testimonial .main_div-right {
    display: none;
  }
  .testimonial .main_div-right img {
    max-width: 450px;
  }

  .news {
    background-color: #f6f7f9;
    padding: 40px 0;
    overflow-x: hidden;
  }
  .news .news_title h4 {
    font-weight: 600;
    margin-bottom: 1rem;
  }
  .news .card {
    margin: 5px;
  }
  .news .card .card-block {
    font-size: 0.9rem;
    padding: 1.5rem 1.5rem 2.5rem 1.5rem;
    color: black;
  }
  .news .card .card-block .card-title {
    font-weight: 600;
    margin-bottom: 1rem;
  }
  .news a.read_more {
    color: black;
    text-decoration: none;
  }
  .news img.card-img-top.img-fluid {
    max-width: 560px;
  }
  .news .news_logo {
    list-style: none;
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 0;
  }
  .news .news_logo .col {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
  }
  .news .news_logo .col img {
    width: 170px;
  }
  .news .card-text {
    font-weight: 400;
    font-size: 0.9rem;
  }

  .contact {
    background-color: #2980b9;
    padding: 40px 0;
    overflow-x: hidden;
    color: white;
  }
  .contact .footer_row-link .meeting, .contact .footer_row-link .call {
    margin-right: 75px;
  }

  .search {
    padding: 20px;
    background-color: #b11f37;
    overflow-x: hidden;
  }
  .search .container {
    padding-left: 0;
  }
  .search .container .main_div-left {
    font-size: 2.5em;
    font-weight: 300;
    color: #fff;
    margin-bottom: 1rem;
  }
  .search .container .main_div-right {
    float: right;
    padding-right: 0;
  }
  .search .container .main_div-right .form-control {
    width: 380px;
    height: 45px;
    color: grey;
    font-weight: 300;
    font-size: 1.2em;
  }
  .search .container .main_div-right button {
    color: white;
    background-color: #3399ff;
    font-size: 0.7rem;
    font-weight: 400;
    letter-spacing: 2px;
    height: 45px;
  }
  .search .container .main_div-right .form-group {
    float: right;
  }
  .search .container .main_div-right .form-group .form-control {
    width: 400px;
  }

  .footer {
    font-size: 0.8rem;
    padding: 4rem;
    overflow-x: hidden;
    background-color: #333333;
  }
  .footer .footer_row-logo {
    margin-bottom: 40px;
  }
  .footer .footer_row-logo .float-left img {
    width: 193px;
  }
  .footer .footer_row-logo .float-right img {
    width: 40px;
    height: 40px;
  }
  .footer .footer_row-link {
    display: block;
    color: white;
  }
  .footer .footer_row-link a {
    margin-bottom: 10px;
    text-align: center;
    display: block;
    padding: 0;
    color: black;
    text-decoration: none;
    font-size: 0.8rem;
  }
  .footer .footer_row-copyright {
    margin-top: 30px;
  }
  .footer .footer_row-copyright span a {
    text-decoration: none;
    color: black;
  }
  .footer .footer_row-social {
    margin-top: 2rem;
  }
  .footer .footer_row-social img:nth-child(1) {
    margin-right: 1rem;
    max-width: 145px;
  }
}
@media screen and (min-width: 1024px) {
  .header .navbar {
    padding: 0.8em 0;
  }
  .header .navbar .form-inline {
    display: flex;
    flex-flow: row nowrap;
  }
  .header .navbar .form-inline a {
    display: inline;
    margin-top: 0;
  }
  .header .navbar .form-inline button {
    margin: 8px 0 8px 30px;
  }

  .main_banner .main_div-left {
    padding-right: 70px;
    transition: all 1s;
  }
  .main_banner .main_div-right {
    position: absolute;
    top: 4000px;
    left: 0;
  }

  .product {
    padding: 100px 0;
  }
  .product .container .row .main_div-left {
    padding: 0;
  }
  .product .container .row .main_div-left .card {
    max-width: 303px;
    margin-bottom: 2%;
  }
  .product .container .row .main_div-left .card.first {
    left: 10px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
  .product .container .row .main_div-left .btn-circle-red {
    margin-left: 10px;
  }
  .product .container .row .main_div-right {
    padding-left: 100px;
    padding-right: 0;
  }
  .product .container .row .main_div-right .product_li:after {
    margin-left: 0;
  }

  #product_list_upper {
    display: none;
  }

  #product_list_lower {
    display: block;
  }

  .testimonial {
    padding: 100px 0;
  }
  .testimonial .main_div-right {
    display: block;
    float: right;
  }

  .platform_user {
    padding: 100px 0;
  }
  .platform_user .carousel .container {
    padding: 0;
  }
  .platform_user .carousel .container .card-deck .card:not(:last-child) {
    margin-right: 60px;
  }
  .platform_user .card.slick-slide {
    margin-right: 25px;
    margin-left: 25px;
  }

  .investing {
    padding: 90px 0;
  }
  .investing .investing_title {
    padding-bottom: 90px;
  }
  .investing p {
    font-weight: 300;
    margin-right: 40px;
    font-size: 1rem;
  }

  .partners .container {
    padding-top: 80px;
    padding-bottom: 120px;
    margin: 0 auto;
  }
  .partners .container .main_div-right .container .blocks {
    display: flex;
    flex-flow: row nowrap;
  }
  .partners .container .main_div-right .container .blocks .block__body {
    width: 100%;
  }

  .impact {
    padding: 80px 0;
  }
  .impact .container .impact_card {
    margin: 50px 0;
  }
  .impact .container .impact_card .card {
    margin-right: 40px;
  }

  .metrics {
    padding: 60px 0;
  }
  .metrics .background_wrapper {
    padding: 250px 0;
  }
  .metrics .background_wrapper .impact_card {
    padding: 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }
  .metrics .background_wrapper .impact_card .card {
    margin-right: 40px;
    width: 300px;
    padding: 20px 0;
  }
  .metrics .background_wrapper .impact_card .card .card-block h1.counter {
    font-size: 3em;
  }
  .metrics .background_wrapper .impact_card .card .card-block p.card-text {
    font-size: 0.9em;
  }

  .testimonial .main_div-right {
    padding: 6% 8% 0 8%;
  }

  .news {
    padding: 80px 0;
  }
  .news .card_carousel.slick-slider {
    margin: 60px 0;
  }
  .news .news_logo {
    padding-right: 35px;
    padding-left: 35px;
  }
  .news .news_logo .col:first-child {
    padding-left: 0;
  }
  .news .carousel.slide .carousel-inner .news_title {
    padding: 0 50px;
  }
  .news .card {
    margin-left: 15px;
    margin-right: 15px;
  }

  .search {
    padding: 45px;
  }
  .search .container .main_div-right button {
    width: 133px;
  }

  .footer .footer_row-link {
    display: flex;
  }
  .footer .footer_row-link a {
    margin-right: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .main_banner .main_div-right img {
    display: block;
  }

  .partners .container .main_div-left {
    padding-right: 155px;
  }

  .container {
    width: 1200px;
    padding: 0;
    margin: 0 auto;
  }
}

/*# sourceMappingURL=styles.css.map */
