@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600,700,800");
body {
  font-family: "Open Sans", sans-serif;
  color: #e5e5e5;
  font-size: 12px;
  background: #bfbfbf;
  line-height: 1;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/** * Eric Meyer's Reset CSS v2.0 (https://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
html, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, big, cite, code, del, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* START: HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  display: block;
  word-wrap: break-word;
}

section {
  font-size: 0.9rem;
}

h1 {
  font-weight: 700;
  font-size: 1.5em;
  margin-bottom: 0.8rem;
  margin: 0 auto;
}

p {
  font-weight: 400;
  font-size: 1rem;
}

button:focus {
  outline: 0;
}

a:focus, a:hover, .card.slick-slide {
  color: white;
  outline: 0 !important;
}

.platform_features div {
  font-size: 1rem;
  margin: 0 auto;
  font-weight: 400;
}

.navbar-light .navbar-toggler {
  border-color: transparent;
  margin-top: 15px;
}

.btn-circle-blue {
  background-color: #2980b9;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #fff;
  width: 214px;
  height: 40px;
  font-size: 0.8rem;
  border-radius: 0;
  cursor: pointer;
  line-height: 1.3rem;
}

.btn-circle-white {
  background-color: white;
  font-weight: 600;
  color: #2980b9;
  width: 170px;
  height: 40px;
  font-size: 0.8rem;
  border-radius: 0;
  cursor: pointer;
  line-height: 1.3rem;
  margin: 0 auto;
  display: block;
}

.btn-circle-blue:hover {
  color: #fff;
}

.small_arrow_left {
  position: absolute;
  top: 178px;
  left: 30px;
  width: 20px;
  height: 20px;
  background: url(../img/icon/arrow_left_lg.svg) no-repeat;
}

.card {
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
  margin-bottom: 10px;
  margin-right: 25px;
  margin-left: 25px;
}

.learn_more:before {
  content: " ";
  background: url(../img/icon/red_arrow.png) no-repeat;
  background-position: bottom;
  display: inline-block;
  width: 15px;
  height: 15px;
}

.platform_features .main_div-left .footer:before {
  content: " ";
  background: url(../img/icon/arrow_sm_left_white.png) no-repeat;
  background-position: bottom;
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.news a.read_more:before,
.product .main_div-right .footer:before {
  content: " ";
  background: url(../img/icon/arrow_black_sm_left.png) no-repeat;
  background-position: bottom;
  display: inline-block;
  width: 15px;
  height: 15px;
}

.bespoke .main_div-right .footer:before {
  margin-right: 10px;
}

.bespoke .main_div-left .product_li:before,
.bespoke .main_div-right .product_li:after {
  content: " ";
  background: url(../img/icon/green_arrow.png) no-repeat;
  background-position: bottom;
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 4px;
}

.bespoke .main_div-right .product_li:after {
  float: right;
  margin-top: 20px;
  margin-right: 5px;
}

.bespoke .slick-dots li button:before {
  color: #b11f37;
  margin: 20px 0;
}
.bespoke .slick-dots li.slick-active button:before {
  opacity: 1;
  color: #b11f37;
}

.quote:before {
  content: " “ ";
  font-family: "Open Sans", sans-serif;
  color: #b11f37;
  font-size: 4em;
  position: absolute;
  top: -80px;
  left: -40px;
  width: 30px;
  height: 30px;
}

.quote:after {
  content: " ” ";
  color: #b11f37;
  font-family: "Open Sans", sans-serif;
  font-size: 4em;
  position: absolute;
}

.slick-dotted.slick-slider {
  padding: 0 15px;
  margin-bottom: 40px;
}

.testimonial .slick-prev.slick-arrow:before {
  content: "";
  background: url(../img/left_arrow-blue.png) no-repeat;
  background-size: 36px;
  width: 50px;
  height: 67px;
  z-index: 999;
}

.testimonial .slick-next.slick-arrow:before {
  content: "";
  background: url(../img/right_arrow-blue.png) no-repeat;
  background-size: 36px;
  width: 50px;
  height: 67px;
  z-index: 999;
}

.slick-prev.slick-arrow, .slick-next.slick-arrow {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 17%;
  height: inherit;
  text-align: center;
  z-index: 999;
}

.slick-dots {
  display: block;
  position: static;
}
.slick-dots li button {
  width: 30px;
  height: 30px;
}
.slick-dots li button:before {
  font-size: 18px;
  margin: 35px 0;
  opacity: 0.2;
  color: white;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  color: white;
}

.impact_carousel .slick-dots li button:before {
  color: #b11f37;
  margin: 20px 0;
}
.impact_carousel .slick-dots li.slick-active button:before {
  opacity: 1;
  color: #b11f37;
}

.news .slick-dots li button:before {
  color: #b11f37;
  margin: 38px 0;
}
.news .slick-dots li.slick-active button:before {
  opacity: 1;
  color: #b11f37;
}

.platform_user .slick-dots li button:before {
  color: #b11f37;
  margin: 20px 0;
}
.platform_user .slick-dots li.slick-active button:before {
  opacity: 1;
  color: #b11f37;
}

.card_carousel.slick-slider {
  margin: 40px 0 80px 0;
}

.platform_user .card_carousel.slick-slider {
  margin: 40px 0;
}

.platform_features .slick-dotted.slick-slider {
  padding: 0;
}

.slick-list.draggable {
  max-width: 1200px;
  margin: 0 auto;
}

@media screen and (min-width: 320px) {
  .main_banner {
    background: linear-gradient(rgba(41, 128, 184, 0.25), rgba(41, 128, 184, 0.25)), url(../img/main-bg.png) no-repeat;
    background-size: cover;
    max-width: 100vw;
    padding: 200px 0 100px 0;
  }
  .main_banner .main_div-left {
    color: #fff;
  }
  .main_banner .main_div-left h2 {
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 3rem;
  }
  .main_banner .main_div-left p {
    font-weight: 300;
    font-size: 1.1rem;
    padding: 40px 0;
  }
  .main_banner .main_div-right {
    position: relative;
    background-color: green;
    top: -60px;
    right: 0;
  }
  .main_banner .main_div-right img {
    max-width: 100%;
    height: auto;
    display: none;
  }

  .mask {
    background-color: #2980b9;
    opacity: 0.5;
  }

  .bespoke {
    background-color: #f6f7f9;
    padding: 40px 0;
    overflow-x: hidden;
  }
  .bespoke .main_div-left {
    padding: 0 15px;
  }
  .bespoke .main_div-left .card {
    border-radius: 10px;
    margin-right: 0;
    margin-left: 0;
    color: black;
  }
  .bespoke .main_div-left .card .card-block {
    font-weight: 300;
    margin: 0 auto;
    padding: 0;
    display: block;
    font-size: 5rem;
    line-height: 1.5rem;
    margin-bottom: 1.2rem;
  }
  .bespoke .main_div-left .card .card-block p {
    background-color: #2980b9;
    color: white;
  }
  .bespoke .main_div-left .card .card-block .card-title {
    font-weight: 300;
  }
  .bespoke .main_div-left .card .card-block .product_card_ul {
    list-style: none;
    padding: 0;
    font-size: 0.8rem;
    margin-bottom: 2rem;
    line-height: 28px;
  }
  .bespoke .main_div-left .card .card-block .product_card_ul li.product_li {
    border-bottom: 1px solid #2980b9;
  }
  .bespoke .main_div-left .card_blue_ribbon {
    background-color: rgba(41, 128, 185, 0.2);
    color: #2980b9;
    border-bottom: 1px solid #2980b9;
    border-top: 1px solid #2980b9;
    font-size: 1em;
    font-weight: 300;
    padding: 20px 78px;
    line-height: 30px;
  }
  .bespoke .main_div-left .launch_per_month {
    padding: 30px;
  }
  .bespoke .main_div-right {
    padding: 0 15px;
    font-weight: 300;
  }
  .bespoke .main_div-right h2 {
    font-weight: 700;
    width: 400px;
  }
  .bespoke .main_div-right div {
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 300 !important;
    font-size: 1rem;
  }
  .bespoke .main_div-right .product_ul {
    list-style: none;
    padding-left: 0;
  }
  .bespoke .main_div-right .product_ul .product_li {
    font-size: 0.9rem;
    line-height: 3.5rem;
    border-bottom: 1px solid lightgrey;
  }
  .bespoke .main_div-right .product_ul .product_li:first-child {
    border-top: 1px solid lightgrey;
  }
  .bespoke .main_div-right .footer {
    padding: 0;
    background-color: transparent;
  }

  .product .container .row .main_div-right h1 {
    margin-bottom: 0;
  }

  #product_list_upper {
    display: block;
    margin-bottom: 40px;
  }

  #product_list_lower {
    display: none;
  }

  .card.second {
    z-index: 999;
    height: 650px;
  }

  .platform_user {
    background-color: #f6f7f9;
    padding-top: 40px;
    padding-bottom: 40px;
    overflow-x: hidden;
  }
  .platform_user .container .title {
    font-weight: 700;
    font-size: 2.3rem;
  }
  .platform_user .container .subtitle {
    margin-bottom: 40px;
  }
  .platform_user .card a {
    text-decoration: none;
  }
  .platform_user .card p.card-text {
    background-color: #3399ff;
    color: white;
    padding: 0.7rem 0;
    font-weight: 400;
    margin-bottom: 0;
  }
  .platform_user .card .card-block {
    width: 300px;
    margin: 0 auto;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 1.4rem;
  }
  .platform_user .card.slick-slide {
    overflow: hidden;
    margin-left: 5px;
    margin-right: 5px;
  }
  .platform_user .card.slick-slide img {
    width: 70%;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
  }

  .investing {
    padding-top: 40px;
    padding-bottom: 40px;
    font-weight: 300;
    overflow-x: hidden;
  }
  .investing .investing_title {
    padding-bottom: 40px;
  }
  .investing .investing_title p {
    font-size: 1.2rem;
    margin-bottom: 0;
    margin-left: 0;
  }
  .investing .investing_card {
    margin: 0 auto;
  }
  .investing .investing_card .card-block {
    border: 0;
    box-shadow: none;
    color: black;
    margin: 0;
    padding: 0;
  }
  .investing .investing_card .card-block img {
    width: 90px;
    height: 90px;
  }
  .investing .investing_card .card-block img:hover {
    -moz-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    transform: rotate(360deg);
  }
  .investing .investing_card .card-block h5 {
    padding: 20px 0;
    font-weight: 600;
  }
  .investing .investing_card .card-block .learn_more {
    color: #b11f37;
  }
  .investing .investing_card .card-block > div {
    width: 64px;
    height: 64px;
  }

  .latest {
    overflow-x: hidden;
    background: #2980b9 url(../img/bg/logo_background_red.png) no-repeat 700px 700px;
  }
  .latest .title {
    color: #fff;
    padding: 0 15px;
    margin: 0 auto;
  }
  .latest .title h2 {
    padding: 20px 0;
    font-weight: 600;
  }
  .latest .title div {
    font-weight: 300;
    margin-bottom: 1.5rem;
    font-size: 1rem;
  }
  .latest .main_div-right .container {
    padding: 0;
  }
  .latest .main_div-right .container .blocks .block__body {
    top: 100%;
    width: inherit;
    height: 333px;
    margin: 0;
  }
  .latest .main_div-right .container .blocks .block {
    position: relative;
    background: #f9f9f9;
    height: 333px;
    padding-left: 0;
    overflow: hidden;
  }
  .latest .main_div-right .container .blocks .block:hover .block__body {
    position: absolute;
    top: 0;
    background: linear-gradient(rgba(41, 128, 184, 0.8), rgba(41, 128, 184, 0.8)) no-repeat;
    color: #fff;
    height: 100%;
    transition: top 0.5s;
    padding: 0;
  }
  .latest .main_div-right .container .blocks .block:hover .block__body h3 {
    color: #fff;
  }
  .latest .main_div-right .container .blocks .block img {
    max-width: 600px;
    margin: 0 auto;
  }
  .latest .main_div-right .container .blocks .block p {
    margin: 3em;
    font-size: 1rem;
  }
  .latest .main_div-right .container .blocks .block__body a {
    text-decoration: none;
    color: white;
  }
  .latest .main_div-right .container .blocks .block__body a img {
    max-width: 200px;
    padding: 5em 1em 1em 1em;
    opacity: 1;
  }

  .latest .container {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .latest .container .slick-dotted.slick-slider {
    padding: 0;
    margin-bottom: 80px;
  }

  .impact {
    padding: 40px 0;
    overflow-x: hidden;
  }
  .impact .container .impact_title {
    margin-bottom: 40px;
  }
  .impact .container .impact_title h1 {
    font-weight: 700;
  }
  .impact .container .impact_card {
    margin: 40px 0 50px 0;
  }
  .impact .container .impact_card .card {
    padding: 0;
    margin: 10px;
    overflow: hidden;
  }
  .impact .container .impact_card .card p {
    font-weight: 300;
    color: black;
    font-size: 0.9em;
    letter-spacing: 3px;
  }
  .impact .container .impact_footer {
    margin-top: 40px;
  }
  .impact .container .impact_footer a {
    text-decoration: none;
  }
  .impact .container .impact_footer a button {
    letter-spacing: 1px;
    width: 200px;
    font-weight: 400;
  }
  .impact .container .impact_footer p {
    margin-top: 1rem;
    font-size: 0.9rem;
  }
  .impact .container .impact_footer p .register_now {
    color: #b11f37;
    font-weight: 700;
  }
  .impact .container .impact_card .card-img-top {
    width: 100%;
    height: auto;
    overflow: hidden;
  }

  .metrics {
    background-color: #3399ff;
    padding: 40px 0 40px 0;
    color: #fff;
    font-weight: 300;
    overflow-x: hidden;
  }
  .metrics .impact_title {
    margin-bottom: 40px;
  }
  .metrics .impact_title h1 {
    font-weight: 600;
  }
  .metrics .background_wrapper {
    background: url(../img/bg/metrics_map.png) no-repeat;
    background-position: center center;
  }
  .metrics .background_wrapper .impact_card {
    margin: 0 auto;
  }
  .metrics .background_wrapper .impact_card .card {
    color: #3399ff;
    border-radius: 0;
    width: inherit;
    margin: 10px auto;
    padding: 20px;
  }
  .metrics .background_wrapper .impact_card .card-block {
    margin: auto;
    padding: 0;
  }
  .metrics .background_wrapper .impact_card .card-block h1.counter {
    font-size: 2em;
  }
  .metrics .background_wrapper .impact_card .card-block p.card-text {
    font-weight: 400;
    font-size: 0.8em;
    letter-spacing: 2px;
  }
  .metrics .background_wrapper .impact_card .card-block #price_count:before {
    content: "£ ";
  }
  .metrics .background_wrapper .impact_card .card-block #price_count:after {
    content: "M";
  }
  .metrics .impact_footer p {
    letter-spacing: 3px;
    font-size: 1em;
    font-weight: 300;
    margin-bottom: 0;
    margin-top: 40px;
  }

  .testimonial {
    overflow-x: hidden;
    color: #2980b9;
    background: #e9f2f8 no-repeat;
  }
  .testimonial .main_div-left {
    font-weight: 300 !important;
    margin-top: 50px;
  }
  .testimonial .main_div-left > span {
    color: black;
  }
  .testimonial .main_div-left .title {
    padding: 30px 0;
    margin-bottom: 0;
    font-weight: 600;
  }
  .testimonial .main_div-left .body {
    font-weight: 300;
    margin-bottom: 30px;
    font-size: 1rem;
    color: black;
  }
  .testimonial .main_div-left .footer.try {
    padding: 1.5rem 0;
    font-size: 1rem;
    font-weight: 400 !important;
    color: #2980b9;
    text-decoration: none;
    background-color: transparent;
  }
  .testimonial .main_div-left .play {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-left: 5px;
  }
  .testimonial .main_div-right {
    display: none;
  }
  .testimonial .main_div-right img {
    max-width: 450px;
  }

  .news {
    background-color: #f6f7f9;
    padding: 40px 0;
    overflow-x: hidden;
  }
  .news .news_title h4 {
    font-weight: 600;
    margin-bottom: 1rem;
  }
  .news .card {
    margin: 5px;
  }
  .news .card .card-block {
    font-size: 0.9rem;
    padding: 1.5rem 1.5rem 2.5rem 1.5rem;
    color: black;
  }
  .news .card .card-block .card-title {
    font-weight: 600;
    margin-bottom: 1rem;
  }
  .news a.read_more {
    color: black;
    text-decoration: none;
  }
  .news img.card-img-top.img-fluid {
    max-width: 560px;
  }
  .news .news_logo {
    list-style: none;
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 0;
  }
  .news .news_logo .col {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
  }
  .news .news_logo .col img {
    width: 170px;
  }
  .news .card-text {
    font-weight: 400;
    font-size: 0.9rem;
  }

  .contact {
    background-color: #2980b9;
    padding: 40px 0;
    overflow-x: hidden;
    color: white;
  }
  .contact .footer_row-link .meeting, .contact .footer_row-link .call {
    margin-right: 75px;
  }

  .search {
    padding: 20px;
    background-color: #b11f37;
    overflow-x: hidden;
  }
  .search .container {
    padding-left: 0;
  }
  .search .container .main_div-left {
    font-size: 2.5em;
    font-weight: 300;
    color: #fff;
    margin-bottom: 1rem;
  }
  .search .container .main_div-right {
    float: right;
    padding-right: 0;
  }
  .search .container .main_div-right .form-control {
    width: 380px;
    height: 45px;
    color: grey;
    font-weight: 300;
    font-size: 1.2em;
  }
  .search .container .main_div-right button {
    color: white;
    background-color: #3399ff;
    font-size: 0.7rem;
    font-weight: 400;
    letter-spacing: 2px;
    height: 45px;
  }
  .search .container .main_div-right .form-group {
    float: right;
  }
  .search .container .main_div-right .form-group .form-control {
    width: 400px;
  }

  .footer {
    font-size: 0.8rem;
    padding: 4rem;
    overflow-x: hidden;
    background-color: #333333;
  }
  .footer .footer_row-logo {
    margin-bottom: 40px;
  }
  .footer .footer_row-logo .float-left img {
    width: 193px;
  }
  .footer .footer_row-logo .float-right img {
    width: 40px;
    height: 40px;
  }
  .footer .footer_row-link {
    display: block;
    color: #2980b9;
  }
  .footer .footer_row-link a {
    margin-bottom: 10px;
    text-align: center;
    display: block;
    padding: 0;
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
  }
  .footer .footer_row-link a ul {
    padding: 0;
    margin-top: 20px;
  }
  .footer .footer_row-link li {
    list-style: none;
  }
  .footer .footer_row-copyright {
    margin-top: 30px;
  }
  .footer .footer_row-copyright span a {
    text-decoration: none;
    color: black;
  }
  .footer .footer_row-social {
    margin-top: 2rem;
  }
  .footer .footer_row-social img:nth-child(1) {
    margin-right: 1rem;
    max-width: 145px;
  }

  #conference-timeline {
    position: relative;
    max-width: 920px;
    width: 100%;
    margin: 0 auto;
  }

  #conference-timeline .timeline-start,
  #conference-timeline .timeline-end {
    display: table;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    background: #00b0bd;
    padding: 15px 23px;
    color: #fff;
    max-width: 5%;
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }

  #conference-timeline .conference-center-line {
    position: absolute;
    width: 3px;
    height: 100%;
    top: 0;
    left: 50%;
    margin-left: -2px;
    background: #00b0bd;
    z-index: -1;
  }

  #conference-timeline .conference-timeline-content {
    padding-top: 67px;
    padding-bottom: 67px;
  }

  .timeline-article {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    margin: 20px 0;
  }

  .timeline-article .content-left-container,
  .timeline-article .content-right-container {
    max-width: 44%;
    width: 100%;
  }

  .timeline-article .timeline-author {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #242424;
    text-align: right;
  }

  .timeline-article .content-left,
  .timeline-article .content-right {
    position: relative;
    width: auto;
    border: 1px solid #ddd;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.03);
    padding: 27px 25px;
  }

  .timeline-article p {
    margin: 0 0 0 60px;
    padding: 0;
    font-weight: 400;
    color: #242424;
    font-size: 14px;
    line-height: 24px;
    position: relative;
  }

  .timeline-article p span.article-number {
    position: absolute;
    font-weight: 300;
    font-size: 44px;
    top: 10px;
    left: -60px;
    color: #00b0bd;
  }

  .timeline-article .content-left-container {
    float: left;
  }

  .timeline-article .content-right-container {
    float: right;
  }

  .timeline-article .content-left:before,
  .timeline-article .content-right:before {
    position: absolute;
    top: 20px;
    font-size: 23px;
    font-family: "Open Sans";
    color: #fff;
  }

  .timeline-article .content-left:before {
    content: "";
    right: -8px;
  }

  .timeline-article .content-right:before {
    content: "";
    left: -8px;
  }

  .timeline-article .meta-date {
    position: absolute;
    top: 0;
    left: 50%;
    width: 62px;
    height: 62px;
    margin-left: -31px;
    color: #fff;
    border-radius: 100%;
    background: #00b0bd;
  }

  .timeline-article .meta-date .date,
  .timeline-article .meta-date .month {
    display: block;
    text-align: center;
    font-weight: 900;
  }

  .timeline-article .meta-date .date {
    font-size: 30px;
    line-height: 40px;
  }

  .timeline-article .meta-date .month {
    font-size: 18px;
    line-height: 10px;
  }

  /*===== // Vetical Timeline ===== */
  /*===== Resonsive Vertical Timeline ===== */
  /* END: NAV */
  .container:after,
  .container:before {
    content: "";
    clear: both;
  }

  nav.menu {
    background: coral;
    position: relative;
    min-height: 45px;
    height: 100%;
  }

  .menu > ul > li {
    list-style: none;
    display: inline-block;
    color: #fff;
    line-height: 45px;
  }

  .menu > ul li a, .xs-menu li a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 0px 24px;
  }

  .menu > ul li a:hover {
    background: #444;
    color: #fff;
    transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
  }

  .active {
    background: #444 !important;
  }

  .displaynone {
    display: none;
  }

  .xs-menu-cont {
    display: none;
  }

  .xs-menu-cont > a {
    background: none repeat scroll 0 0 #ff7f50;
    border-radius: 3px;
    padding: 3px 6px;
    display: block;
    border-bottom: 1px solid #E67248;
    box-shadow: 0 1px 2px #e67248;
    -webkit-box-shadow: 0 1px 2px #e67248;
    -moz-box-shadow: 0 1px 2px #e67248;
  }

  .xs-menu-cont > a:hover {
    cursor: pointer;
  }

  .xs-menu li {
    color: #fff;
    padding: 14px 30px;
    border-bottom: 1px solid #ccc;
    background: #FF7F50;
  }

  .xs-menu a {
    text-decoration: none;
  }

  .mega-menu {
    background: none repeat scroll 0 0 #888;
    left: 0;
    margin-top: 3px;
    position: absolute;
    width: 100%;
    padding: 15px;
    display: none;
    transition-duration: 0.9s;
  }

  #menutoggle i {
    color: #fff;
    font-size: 33px;
    margin: 0;
    padding: 0;
  }

  /* END: NAV */
}
@media screen and (min-width: 1024px) {
  /*--column -------------------- */
  .mm-6column:after,
  .mm-6column:before,
  .mm-3column:after,
  .mm-3column:before {
    content: "";
    display: table;
    clear: both;
  }

  .mm-6column,
  .mm-3column {
    float: left;
    position: relative;
  }

  .mm-6column {
    width: 50%;
  }

  .mm-3column {
    width: 25%;
  }

  .responsive-img {
    display: block;
    max-width: 100%;
  }

  .left-images {
    margin-right: 25px;
  }

  .left-images, .left-categories-list {
    float: left;
  }

  .categories-list li {
    display: block;
    line-height: normal;
    margin: 0;
    padding: 5px 0;
  }

  .categories-list li :hover {
    background: inherit !important;
  }

  .left-images > p {
    background: none repeat scroll 0 0 #ff7f50;
    display: block;
    font-size: 18px;
    line-height: normal;
    margin: 0;
    padding: 5px 14px;
  }

  .categories-list span {
    font-size: 18px;
    padding-bottom: 5px;
    text-transform: uppercase;
  }

  .mm-view-more {
    background: none repeat scroll 0 0 #ff7f50;
    color: #fff;
    display: inline !important;
    line-height: normal;
    padding: 5px 8px !important;
    margin-top: 10px;
  }

  .display-on {
    display: block;
    transition-duration: 0.9s;
  }

  .drop-down > a:after {
    content: "";
    color: #fff;
    font-family: "Open Sans";
    font-style: normal;
    margin-left: 5px;
  }

  /*Animation-- */
  .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
  }

  .main_banner .main_div-left {
    padding-right: 70px;
    transition: all 1s;
  }
  .main_banner .main_div-right {
    position: absolute;
    top: 400px;
    left: 0;
  }

  .bespoke {
    padding: 100px 0;
  }
  .bespoke .container .row .main_div-left {
    padding: 0;
  }
  .bespoke .container .row .main_div-left .card {
    max-width: 472px;
    margin-bottom: 2%;
  }
  .bespoke .container .row .main_div-left .card.first {
    left: 10px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
  .bespoke .container .row .main_div-left .btn-circle-red {
    margin-left: 10px;
  }
  .bespoke .container .row .main_div-right {
    padding-left: 100px;
    padding-right: 0;
  }
  .bespoke .container .row .main_div-right .product_li:after {
    margin-left: 0;
  }

  #product_list_upper {
    display: none;
  }

  #product_list_lower {
    display: block;
  }

  .testimonial .main_div-right {
    display: block;
    float: right;
  }

  .platform_user {
    padding: 100px 0;
  }
  .platform_user .carousel .container {
    padding: 0;
  }
  .platform_user .carousel .container .card-deck .card:not(:last-child) {
    margin-right: 60px;
  }
  .platform_user .card.slick-slide {
    margin-right: 25px;
    margin-left: 25px;
  }

  .investing {
    padding: 90px 0;
  }
  .investing .investing_title {
    padding-bottom: 90px;
  }
  .investing p {
    font-weight: 300;
    font-size: 1rem;
  }

  .latest .container {
    padding-top: 80px;
    padding-bottom: 120px;
    margin: 0 auto;
  }
  .latest .container .main_div-right .container .blocks {
    display: flex;
    flex-flow: row nowrap;
  }
  .latest .container .main_div-right .container .blocks .block__body {
    width: 100%;
  }

  .impact {
    padding: 80px 0;
  }
  .impact .container .impact_card {
    margin: 50px 0;
  }
  .impact .container .impact_card .card {
    margin-right: 40px;
  }

  .metrics {
    padding: 60px 0;
  }
  .metrics .background_wrapper {
    padding: 250px 0;
  }
  .metrics .background_wrapper .impact_card {
    padding: 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }
  .metrics .background_wrapper .impact_card .card {
    margin-right: 40px;
    width: 300px;
    padding: 20px 0;
  }
  .metrics .background_wrapper .impact_card .card .card-block h1.counter {
    font-size: 3em;
  }
  .metrics .background_wrapper .impact_card .card .card-block p.card-text {
    font-size: 0.9em;
  }

  .testimonial .main_div-right {
    padding: 6% 8% 0 8%;
  }

  .news {
    padding: 80px 0;
  }
  .news .card_carousel.slick-slider {
    margin: 60px 0;
  }
  .news .news_logo {
    padding-right: 35px;
    padding-left: 35px;
  }
  .news .news_logo .col:first-child {
    padding-left: 0;
  }
  .news .carousel.slide .carousel-inner .news_title {
    padding: 0 50px;
  }
  .news .card {
    margin-left: 15px;
    margin-right: 15px;
  }

  .search {
    padding: 45px;
  }
  .search .container .main_div-right button {
    width: 133px;
  }

  .footer .footer_row-link {
    display: flex;
  }
  .footer .footer_row-link a {
    margin-right: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .main_banner .main_div-right img {
    display: block;
  }

  .latest .container .main_div-left {
    padding-right: 155px;
  }

  .container {
    width: 1200px;
    padding: 0;
    margin: 0 auto;
  }
}

/*# sourceMappingURL=styles.css.map */
